/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
.dropit {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropit .dropit-trigger {
  position: relative;
}

.submenu-holder {
  position: absolute;
  padding: .5rem calc(100% - .8rem) .5rem 0;
  top: 31px;
  left: 0.3rem;
}

.dropit .dropit-submenu {
  position: absolute;
  top: 14px;
  z-index: 1000;
  display: none;
  min-width: 215px;
  list-style: none;
  border-radius: 8px;
  padding: 5px;
  margin: 0;
  overflow: hidden;
}

.dropit .dropit-submenu > li > a {
  padding: .5rem;
  border-radius: var(--border-radius);
}

.dropit .dropit-open .dropit-submenu { display: block; }

@media all and (max-width: 1060px) {
  .submenu-holder {
    position: static;
    padding: 0;
  }

  .dropit .dropit-submenu > li > a {
    border-radius: none;
  }

  .dropit .dropit-trigger > a::after {
    content: '';
    position: absolute;
    width: 40px;
    aspect-ratio: 1;
    inset: 0 0 0 auto;
    right: .6rem;
    margin: auto;
    background-size: cover;
    background-image: url('/images/up-arrow-light.svg');
    background-repeat: no-repeat;
    transition: rotate 500ms;
    rotate: -180deg;
  }

  #navmenu > li.active-mobile-menu > ul > li > a::after {
    rotate: 0deg;
  }
}