/* For image callouts in writing-middleware.md */

.callout {position: relative;}

#callout1 {top: 40px; }

#callout2 {top: 60px;}

#callout3 {top: 75px;}

#callout4 {top: 145px;}

#callout5 {top: 165px;}

#callout6 {top: 185px;}
