* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--bg);
  color: var(--fg);
  font: 400 14px/1.6 "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body.no-scroll{
  overflow: hidden;
}

h1 {
  font-size: 30px;
  line-height: 36px;
}

#intro h2, #api-doc h1 {
  font-weight: normal;
}

h1, h2, h3 {
  color: var(--card-fg);
  -webkit-font-smoothing: antialiased;
  margin: 5px 0;

}

.content h1 {
  margin-bottom: 20px;
}

.content table a.ignore-underline {
  text-decoration: none;
}

p em {
  color: var(--card-fg);
  font-weight: bold;
}

p {
  line-height: 1.35em;
  margin: 10px 0;
}

strong, th {
  color: var(--card-fg);
}

#overlay {
  background-color: var(--bg);
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

main.home {
  margin: 40px auto 2%;
  max-width: 75rem;
  padding-inline: 5%;
}

#home-content {
  display: flex;
}

.en-doc #home-content {
  margin-top: 150px;
}

.non-en-doc:has(#i18n-notice-box.hidden) #home-content {
  margin-top: 150px;
}

.non-en-doc:has(#i18n-notice-box:not(.hidden)) .content {
  margin-top: 50px;
}

#homepage-leftpane {
  font-size: 90%;
  margin-right: 30px;
  min-width: 500px;
  padding-top: 13px;
}

#homepage-rightpane {
  min-width: 500px;
  padding: 25px 30px 0 0;
}

#homepage-rightpane iframe {
  min-height: 273px;
  min-width: 100%;
}

#announcements {
  background: var(--notice-bg);
  border: 1px solid var(--notice-accent);
  border-radius: 3px;
  font-size: 0.9em;
  margin-top: 40px;
  padding: 0 16px;

  & a {
    color: var(--notice-accent);
    text-decoration: underline;
  }
}

#announcements ul {
  padding-left: 0;
}

#announcements li {
  list-style: none;
  margin-bottom: 16px;
}

#announcements p {
  margin: 6px 0;
}

#announcements time {
  font-weight: normal;
  margin-right: 12px;
}

.announcement-title {
  align-items: center;
  column-gap: 8px;
  display: flex;
  font-weight: bold;
  margin-bottom: 11px
}

#install-command {
  border: 1px solid var(--border);
  border-radius: 3px;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  max-width: 375px;
  padding: 5px 10px;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  margin: 153px 0 7%;
}

.content main {
  margin-inline: auto;
  max-width: 900px;
  padding-inline: 16px;
}

.flex-row-content {
  flex-direction: row;
}

span.block-section {
  display: block;
}

#intro h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

#api-doc section {
  padding-left: 20px;
}

#api-doc > h3 {
  color: var(--menu-grey);
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 10px
}

#api-doc h2 {
  font-size: 29px;
  font-weight: bold;
  margin: 40px 0 20px;
}

#api-doc section h3 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 10px;
}

#api-doc h4 {
  font-size: 16px;
  font-weight: bold;
}

#api-doc h5 {
  color: var(--menu-grey);
  font-size: 14px;
  font-weight: bold
}

/* scroll */

*::-webkit-scrollbar {
  background-color: opacity(var(--box-fg), 0.145);
  width: 16px;
}

*::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--menu-grey);
  border: 4px solid transparent;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-bg);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--menu-grey);
}

/* links */

a {
  color: var(--link);
  text-decoration: underline;
}

.h2:target {
  display: block;
  padding-top: 40px;
}

#api-doc *:target, #page-doc *:target {
 margin-top: -120px;
 padding-top: 120px;
 z-index: -1;
}

/* logo */

#logo {
  width: auto;
  z-index: 1;
}

#logo a {
  text-decoration: none;
}

#logo .express {
  color: var(--card-fg);
  display: block;
  font: 25px "Helvetica Neue", "Open Sans", sans-serif;
  font-weight: 100;
}

#description .express {
  display: block;
  font: 4.5em "Helvetica Neue", "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: .25em;
}

#description .express > a {
  color: var(--card-fg);
  text-decoration: none;
}

#description .express a#express-version {
  color: var(--link);
  font-size: 0.2em;
  font-weight: 400;
  margin-left: 0.5em;
  text-decoration: underline;
}

#description {
  -webkit-font-smoothing: antialiased;
  margin-bottom: 43px;
}

#description .description {
  color: var(--menu-grey);
  font: 100 4.1em "Helvetica Neue", "Open Sans", sans-serif;
  line-height: .87;
  margin: unset;
  position: relative;
  top: -5px
}

#description .description a {
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

#doc-langs {
  font-size: 12px;
  text-align: center;
}

#doc-langs p {
  margin: 3px 0;
}

.header-right {
  align-items: center;
  display: flex;
  gap: 20px;
}

header {
  align-items: center;
  background: var(--card-bg);
  border-bottom: 1px solid var(--hover-fg);
  display: flex;
  height: 57px;
  justify-content: space-between;
  left: 0;
  padding-inline: 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.scroll header {
    box-shadow: 0 0 4px var(--card-bg);
}

/* code */

code {
  background-color: var(--code-bg);
  border-radius: 6px;
  color: var(--card-fg);
  font-size: 13px;
  margin-block: -.125rem;
  padding: .125rem .375rem;
}

pre {
  background-color: var(--code-bg);
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 16px;
}

pre code {
  padding: 0;
}

/* top button */

.scroll #top {
  display: initial;
  opacity: .5
}

.scroll #top:hover {
  opacity: 1;
}

#top { 
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 2px;
  bottom: 15px;
  color: var(--card-fg);
  display: none;
  line-height: 0;
  opacity: 0;
  padding: 8px;
  position: fixed;
  right: 15px;
  text-decoration: none;
  transition: opacity 300ms;
}

/* clearfix */

.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/* boxes */

#boxes {
  display: grid;
  gap: 20px 50px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
}

#boxes h2 {
  background: none;
  color: var(--card-fg);
  line-height: 1.25em;
  margin-top: 0;
  padding-top: 0;
}

#boxes h2 a {
  color: var(--card-fg);
  text-decoration: none;
}

#boxes div {
  list-style: none;
}

/* doc specific */

.doctable, table {
  border: 1px solid var(--border);
  border-collapse: collapse;
  margin: 1em 1em 1em 0;
  width: 100%;
}

.doctable td, .doctable th, table td, table th {
  border: 1px solid var(--border);
  line-height: 120%;
  padding: 7px;
  vertical-align: top;
}

.doctable tr th, table tr th {
  background: var(--card-bg);
  font-size: 110%;
}

.doctable td p:first-child {
  margin-top: 0;
}

.doctable td p, li p {
  width: 100% !important;
}

.doctable ul {
  margin: 20px 0
}

/* doc boxes */

.doc-box {
  border-radius: 0 6px 6px 0;
  color: var(--box-fg);
  margin-bottom: 1rem;
  padding: 16px;
}

.doc-box p {
  margin: 0 0 8px;
}

.doc-box p:last-child {
  margin: 0;
}

.doc-title {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 600;
}

.doc-notice {
  background: var(--notice-bg);
  border-left: 3px solid var(--notice-accent);
}

.doc-notice a{
  color: var(--notice-accent);
  text-decoration: underline;
}

.doc-info {
  background: var(--info-bg);
  border-left: 3px solid var(--info-accent);
}

.doc-info a{
  color: var(--info-accent);
  text-decoration: underline;
}

.doc-warn {
  background: var(--warn-bg);
  border-left: 3px solid var(--warn-accent);
}

.doc-warn-title {
  color: var(--warn-accent);
}

.doc-warn a {
  color: var(--warn-accent);
  text-decoration: underline;
}

#i18n-notice-box {
  margin: 100px 3% 20px;
  position: relative;
}

#close-i18n-notice-box {
  color: var(--notice-accent);
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 3px;
}

/* general */

#app-settings-property {
  width: 200px;
}

.button {
  border-radius: 3px;
  color: var(--box-fg);
  cursor: pointer;
  display: block;
  padding: 3px 5px;
}

a.edit-github-btn{
  align-items: center;
  border-radius: 0.3rem;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  width: fit-content;

  span {
    height: 20px;
  }

  &:is(:hover, :active, :focus) {
    background-color: var(--hover-bg);
    color: var(--fg);
    outline: 1px solid var(--card-fg);
  }
}

#mobile-menu {
  display: none;
  position: relative;
}

pre, code {
  white-space: pre-wrap !important;
}

footer {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 24px;
  margin: 60px 5% 30px;
}

#footer-content {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  width: 100%;
}

#footer-copyright {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

#footer-copyright a {
  width: fit-content;
}

#footer-copyright img {
  max-width: 125px;
}

#footer-policy{
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  gap: 8px 20px;
  justify-content: center;
}

#footer-links{
  display: flex;
  gap: 20px;
}

.footer-social {
  display: flex;
  font-size: 20px;
  gap: 20px;
}

/* navigation */
#theme-icon-container {
  cursor: pointer;
}

#navbar {
  align-items: center;
  display: flex;
  line-height: 30px;

  .ds-dropdown-menu .ds-dataset-1 {
    background-color: var(--bg);

    .ds-suggestions {
      /* background-color: var(--bg); */
      color: var(--fg);
    }

    .ds-suggestion a {
      background-color: var(--bg);
      color: var(--fg);
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .algolia-docsearch-suggestion--category-header {
      color: var(--fg);
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .algolia-docsearch-suggestion--wrapper {
      background-color: var(--bg);

      /* stylelint-disable-next-line selector-class-pattern */
      .algolia-docsearch-suggestion--subcategory-column {
      color: var(--menu-grey);  
      }

      /* stylelint-disable-next-line selector-class-pattern */
      .algolia-docsearch-suggestion--title, 
      /* stylelint-disable-next-line selector-class-pattern */
      .algolia-docsearch-suggestion--text  {
        color: var(--fg);
      }

      /* stylelint-disable-next-line selector-class-pattern */
      .algolia-docsearch-suggestion--highlight {
        background-color: initial;
        color: var(--link);
      }
    }

    .algolia-docsearch-suggestion {
      background-color: initial;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .algolia-docsearch-suggestion--content .algolia-docsearch-suggestion--no-results{
      background-color: initial; 
    }    
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .ds-suggestion.ds-cursor .algolia-docsearch-suggestion--title,
  /* stylelint-disable-next-line selector-class-pattern */
  .ds-suggestion.ds-cursor .algolia-docsearch-suggestion--content {
    background-color: var(--hover-bg);
  }
}

#navbar a {
  color: var(--card-fg);
  text-decoration: none;
}

#navbar a.active {
  font-weight: bold;
}

#navbar ul {
  list-style: none;
}

#navmenu {
  display: flex;
  gap: 20px;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  right: 0;
  z-index: 1000;
}

/* dropdown menu */

.submenu {
  list-style: none;
  position: relative;
}

.submenu-content {
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: 12px;
  box-shadow: 1px 2px var(--hover-fg);
  display: none;
  left: 50%;
  margin: auto;
  min-width: max-content;
  padding: 0;
  position: absolute;
  top: 100%;
  transform: translate(-50%);
  width: fit-content;
  z-index: 1000;
}

.submenu-content li:first-child a {
  border-radius: 12px 12px 0 0;
}

.submenu-content li:last-child a {
  border-radius: 0 0 12px 12px;
}

.submenu.open .submenu-content {
  display: initial;
}

.submenu-content li a {
  display: block;
  padding: 2px 20px;
}

#navbar .submenu-content a:hover {
  background: var(--hover-bg);
  text-decoration: none;
}

#language-picker-menu {
  display: none;
}

/* TOC side menu */

.toc-container {
  position: sticky;
  top: 100px;
  width: 270px
}

#menu {
  font-size: 1rem;
  margin-block: 0;
  max-height: 65vh;
  min-width: 13rem;
  overflow-y: auto;
  padding-block-end: 0.5rem;
  padding-inline: 0.5rem;
}

#menu.blog-side-menu {
  max-height: fit-content;
  max-width: 20rem;
}

#menu ul a,
#menu > li > a {
  color: var(--menu-grey);
  display: block;
  padding-inline: 0.5rem;
  text-decoration: none;

  &:is(:hover,:active,:focus) {
    border-radius: 0.3rem;
    color: var(--fg);
    outline: 1px solid var(--card-fg);
  }
}

#menu ul a.active {
  border-radius: 0.3rem;    
  color: var(--fg);
  outline: 1px solid var(--card-fg); 
}

#menu em {
  color: var(--menu-em);
  font-size: 1rem;
  font-weight: bold;
}

#menu li {
  cursor: pointer;
  list-style: none;
  margin-block-start: 0.3rem;
}

#menu ul,
ul#side-menu  {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

#menu ul.active,
ul#side-menu.active {
  display: block;
  height: auto;
  opacity: 1;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

#menu > li > a {
  font-size: 1rem;
  font-weight: bold;
  padding-inline-start: 1rem;
}

/* can't find this in proj */
h2 a {
  color: var(--card-fg) !important;
}

/* search */

#q {
  display: none;
  height: 2.5em;
  max-width: 100%;
  padding: 5px;
} 

.algolia-autocomplete {
  max-width: 9em;

  > input {
    background-color: var(--bg);
    color: var(--fg);
  }

  > input::placeholder {
    color: var(--fg);
  }

  #q {
    border: 1px solid var(--border);
    border-radius: 8px;
    display: initial;
    outline: none;
    padding-inline: 12px;
    transition: color .3s ease;

    &:focus-visible,
    &:focus {
      border-color: var(--hover-border);
      border-width: 2px;
    }
  }
}

.content-404 {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  padding: 153px 32px 7%;
  text-align: center;
}

.content-404 p {
  font-size: 16px;
}

/* search-bar desktop re-sizing */
@media all and (min-width: 950px) {
  .algolia-autocomplete {
    margin-right:15px;
    max-width: 12em;
  }
}

/* toc title */
.toc-heading {
  cursor: default;
  display: block;
  padding-inline-start: 1rem;

  & > em {
    color: var(--menu-em);
    font-size: 1rem;
    font-weight: bold;
  }
}


/* TOC btn */

#menu-toggle {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0.3rem;
  color: #000;
  cursor: pointer;
  display: none;
  font-size: 1rem;
  opacity: 0;
  padding: 0.5rem;
  width: fit-content;

  &:is(:hover, :active, :focus) {
    background-color: #ebf2f5;
  }
}

/* responsive */

@media all and (max-width: 1440px) {
  #menu{
    top: 75px;
  }
}

@media all and (max-width: 1110px) {
  #boxes {
    grid-template-columns: 1fr 1fr;
  }

  #home-content {
    flex-direction: column;
    margin: 60px 0 0 5%;
    padding-right: 5%;
  }

  #install-command {
    display: none;
    margin-right: 5%;
    width: 100%;
  }

  #home-content .pane {
    font-size: 74%;
    min-width: auto;
  }

  #homepage-leftpane {
    padding-top: 0;
  }

  #homepage-rightpane {
    padding-right: 0;
    padding-top: 0;
  }

  .table-scroller {
    overflow: scroll;
    width: 100%;
  }

  code {
    word-break: break-all;
  }

  ul {
    padding-left: 5%;
  }

  h1 {
    font-size: 22px;
    line-height: 26px;
  }

  h2 {
    font-size: 18px;
    line-height: 25px;
  }

  h3 {
    font-size: 16px;
    line-height: 23px;
    word-break: break-all;
  }

  h4 {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
  }

  #description {
    margin-bottom: 35px;
  }

  #description .express {
    display: none;
  }

  #description .description {
    font-size: 3em;
    font-weight: 200;
    line-height: .9em;
  }

  #logo {
    margin-left: 60px;
    position: static;
    width: 100%;
  }

  #logo a {
    display: table !important;
    margin: 0 auto;
    text-decoration: none;
  }

  #logo .express {
    font-weight: bold;
    margin-top: 0;
  }

  #home-menu {
    display: block;
    position: absolute;
    top: 7px;
  }

  #overlay.blurs{
    display: block;
  }

  .menu ul {
    display: block;
  }

  #footer-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  #footer-copyright > a {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #doc-langs {
    font-size: 11px;
  }

  .header-right {
    align-items: center;
    display: flex;
    gap: 8px;
    margin-right: -10px;
  }

  #language-picker-menu #navmenu>li:first-child {
    display: flex;
  }

  #language-picker-menu #navmenu {
    max-height: 70vh;
    overflow-y: auto;
    scrollbar-width: thin;
    text-align: center;
  }

  #language-picker-menu {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
}

/* TOC responsive */
@media all and (max-width: 800px) {
  .content {
    flex-direction: column;
    margin-block-start: 100px;
    margin-inline: 0.5rem;
  }
  
  #api-doc,
  #blog-doc,
  #page-doc {
    padding-inline: 1rem;
    width: 100%;
  }

  .toc-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 1rem;
    width: 100%;

  }

  #menu {
    background-color: var(--card-bg);
    display: none;
    max-height: 0;
    min-width: 100%;
    opacity: 0;
  }

  #menu.open {
    border-bottom-right-radius: 0.5rem;
    border-left: 2px solid var(--border);
    border-top-right-radius: 0.5rem;
    display: block;
    margin-top: 0.3rem;
    max-height: 35vh;
    opacity: 1;
    padding-inline: 1rem;
  }

  #menu-toggle.show {
    display: block;
    opacity: 1;
  }

  #menu > li > a,
  #menu ul a {
    padding: 0.5rem;

    &:is(:hover,:active,:focus) {
      background: var(--hover-bg);
    }
  }

  #menu li ul li > em {
    background-color: var(--hover-bg);
    border-radius: 0.3rem;
    font-size: 0.8rem;
    padding-block: 0.3rem;
    padding-inline: 1rem;
   }

   .toc-heading{
    display: none;
  }
}


@media all and (max-width: 540px) {
  #boxes {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 420px) {
  #app-settings-property {
    width: auto;
  }

  #description .express {
    display: none;
  }
}


@media print {
  header {
    position: absolute;
  }

  #mobile-menu {
    display:none;
  }
}

/* For image callouts in writing-middleware.md  */

.callout {position: relative;}

#mw-fig { 
  border: 0; 
  border-collapse: separate; 
  margin-bottom: 20px; 
  padding: 0; 
  width: 960px;}

#mw-fig-imgcell {
  border: 0;
  margin: 0;
  padding: 0;
  width: 410px;
}

#mw-fig-img {
  height: 308px;
  margin: 0;
  padding: 0;
  width: 410px;
}

.mw-fig-callouts {
  border: 0;
  margin: 0;
  padding: 0 0 0 5px;
  width: 550px;
}

/* Blog page styles */
#blog-doc {
  margin: 0 1rem;
  padding: 0.5rem;
  width: fit-content;

  @media all and (max-width: 800px) {
    margin: 0;
  }
}

#blog-doc:has(> h1#express-blog),
#blog-doc:has(> h1#write-a-blog-post) {
  min-height: 300px;
}

#blog-doc .blog-details ~ p > img {
  float: right;
  margin: 0.5rem;
  width: 200px;
}

#blog-doc p {
  font-size: 1.1em;
}

.blog-posts {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.blog-post {
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 2px 3px var(--hover-fg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  transition: 0.3s;
  width: 100%;
}

.blog-post:hover {
  background-color: var(--hover-bg);
  border: 1px solid var(--hover-border);
  box-shadow: 2px 3px var(--menu-grey);
}

.blog-post img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.blog-post .blog-details {
  display: flex;
  flex-direction: column;
}

.blog-details div:first-child {
  margin-bottom: 5px;
}

.blog-tag {
  font-size: 12px;
}

.blog-title {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding-right: .2em;
}

.blog-title a {
  color: var(--card-fg)
}

.blog-excerpt {
  font-size: .75rem;
}

.blog-img {
  margin: auto;
  max-width: 100%;
}

.blog-author {
  font-style: italic;
}

.blog-date {
  font-size: 85%;
  font-weight: bold;
}

/* mobile-only */
@media (max-width: 500px) {
  #blog-doc {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    margin-right: 0;
    padding-right: 10px;
  }



  #blog-doc .blog-details + p > img {
    margin-bottom: 15px;
  }
}



/* blog tablet and up */
@media (min-width: 768px) {
  .blog-post {
    margin: auto;
  }

  .blog-tags {
    margin-bottom: 20px;
  }

  .blog-title {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
  }

  .blog-post .blog-details {
    display: flex;
    flex-direction: row;
    font-size: 90%;
    margin-left: 1rem;
  }

  .blog-post .blog-details div:first-child {
    margin-right: 20px;
  }

  .blog-details  {
    font-size: 1rem;
  }

  .blog-excerpt {
    font-size: .85rem;
    font-weight: 300;
    line-height: initial;
    margin-bottom: 10px;
    margin-top: auto;
    max-width: 80%;
  }
}

strong.supported {
  color: var(--supported-fg) ;
}

strong.eol {
  color: var(--eol-fg) ;
}

.logo-table {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 48px;
}

.logo-table h3{
  margin-bottom: 12px;
}

.hidden-dark {
  display: block;
}

.hidden-light {
  display: none;
}

blockquote {
  border-left: .25rem solid var(--border);
  font-style: italic;
  font-weight: 600;
  margin-left: 0;
  padding-left: 1.2em;
}

@media all and (max-width: 1110px) {
  header {
    column-gap: 12px;
    padding-inline: 32px;
  }

  #mobile-menu {
    display: block;
  }

  .algolia-autocomplete {
    display: none !important;
  }

  #navbar {
    padding: 0;
    position: static;
    top: 1px;
  }

  #navmenu>li:first-child {
    display: none;
  }

  #navmenu>li {
    align-items: center;
    background: var(--card-bg);
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    display: flex;
    margin: 0;
    min-height: 47px;
  }

  #navmenu>li.open:hover {
    background: var(--card-bg);
  }

  #navmenu>li:hover {
    background: var(--hover-bg);

    & ul {
      background-color: var(--card-bg);
    }
  }

  #navmenu {
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    top: 57px;
    width: 100%;
  }

  #navmenu.opens {
    display: block;
  }

  #navbar a {
    font-size: 19px;
    height: 100%;
    margin: 0;
    padding-left: 5%;
    width: 100%;
  }

  #navbar .submenu.open {
    align-items: initial;
    flex-direction: column;

    > a {
      border-bottom: 1px solid var(--border);
    }
  }

  .submenu.open > a {
    align-items: center;
    display: flex;
    min-height: 47px;
  }

  .submenu-content {
    background-color: var(--card-bg);
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: none;
    margin: 0;
    margin-top: 7px;
    max-height: 190px;
    overflow: hidden auto;
    padding: 0;
    position: static;
    transform: none;
    width: 100%;
  }

  .submenu-content li > a {
    width: 100%;
  }

  .submenu-content li:first-child a {
    border-radius: 0;
  }

  .submenu-content li:last-child {
    border-bottom: 0;
  }

  .submenu-content li:last-child a {
    border-radius: 0;
  }

  .submenu-content.open {
    display: inline-block;
  }

  #navbar .submenu-content li a {
    font-size: 16px;
    padding: 5px 5px 5px 5%;
    padding-left: 10%;
  }

  .submenu-content li {
    border-bottom: 1px solid var(--border);
  }

  #theme-icon-container{
    z-index: 10000;
  }

}
