@font-face {
  font-family: 'TH SarabunNew';
  src: url("../fonts/th/THSarabunNew.woff")
}

#description .description {
    position: relative;
    top: -5px;
    font: 100 4.1em "TH SarabunNew", "Helvetica Neue", "Open Sans", sans-serif;
    color: #aeaeae;
    line-height: .87;
  }

  /* Non-English pages use pre and code tags for code blocks */
.non-en-doc .page pre[class*="language-"] {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}