:root {
  --main_dark_bg: #010409;
  --second_dark_bg: #0d1117;
  --dark_hover: #383838;
  --second_dark_hover: #484848;
  --dark_text: #e6edf3;
}
#theme-icon-container {
  position: relative;
  float: right;
  background-color: var(--second_dark_bg);
  color: white;
  min-width: 50px;
}
body.dark-mode {
  background: var(--main_dark_bg);
  --dark_text: whitesmoke;
  background: var(--main_dark_bg);
  color: var(--dark_text);
}
body.dark-mode #blm-banner {
  background-color: var(--main_dark_bg);
  color: var(--dark _text);
}
body.dark-mode header {
  background-color: var(--second_dark_bg);
  color: var(--dark_text);
}
body.dark-mode div#overlay {
  opacity: 0.5;
}
body.dark-mode #logo > a {
  color: var(--dark_text);
}
body.dark-mode #navbar ul#navmenu li.dropit-trigger a {
  color: var(--dark_text);
}
body.dark-mode #navbar ul#navmenu li a {
  color: var(--dark_text);
}
/* some js is adding a class .current to first item in drop down*/
body.dark-mode #navbar ul#navmenu li a.current {
  background: var(--main_dark_bg);
}
body.dark-mode #navbar > span.algolia-autocomplete > input {
  background-color: var(--second_dark_bg);
}
body.dark-mode #navbar > span.algolia-autocomplete > input::placeholder {
  color: var(--dark_text);
}
/* top bar links hover */
body.dark-mode #navbar .menu ul.dropit-submenu a:hover {
  background: var(--dark_hover);
}
 body.dark-mode #navbar #navmenu li {
  background: var(--second_dark_bg);
}
body.dark-mode #description .express > a {
  color: var(--dark_text);
}
body.dark-mode #install-command {
  background: var(--main_dark_bg);
}
body.dark-mode #announcements {
  background: var(--main_dark_bg);
}
body.dark-mode #boxes div > h3 {
  color: var(--dark_text);
}
@media (max-width: 899px) {
  #theme-icon-container {
    bottom: 35px;
  }
  /* mobile menu links hover */
  body.dark-mode div#navbar ul#navmenu .dropit-trigger:hover {
    background: var(--dark_hover);
  }
  body.dark-mode div#navbar .menu ul.dropit-submenu a:hover {
    background: var(--second_dark_hover);
    color: var(--dark_text) !important;
  }
}
body.dark-mode .doc-box.doc-info,
body.dark-mode .doc-box.doc-notice
 {
  color: var(--dark_text);
  background: var(--main_dark_bg);
}
body.dark-mode h1,
body.dark-mode h3{
  color: var(--dark_text);
}
body.dark-mode code {
  color: var(--dark_text);
}
body.dark-mode em, 
body.dark-mode strong {
  color: var(--dark_text);
}

body.dark-mode pre {
  background: var(--second_dark_bg);
}
body.dark-mode [class*="language-"] {
  text-shadow: 0 1px var(--second_dark_bg);
}
body.dark-mode .token.operator {
  background: inherit;
}
