doctype html
html
  head
    title Express behind proxies
    include ../../includes/head
  body.inner
    section.content
      header
        include ../../includes/mobile-menu
        include ../../includes/logo
        - active = 'guide'
        include ../../includes/menu
      include ../../includes/mixins
      #overlay

      include:md behind-proxies.md

    include ../../includes/footer
