doctype html
html
  head
    title Express database integration
    include ../../includes/head
  body.inner
    .bar
    section.content
      header
        include ../../includes/mobile-menu
        include ../../includes/logo
        - active = 'guide'
        include ../../includes/menu
      include ../../includes/mixins
      #overlay

      include:md database-integration.md

    include ../../includes/footer
