ul#menu
  li: ul
    li: a(href='#intro') Getting started
    li: a(href='#executable') express(1) executable
    li: a(href='#error-handling') Error handling
    li: a(href='#users-online') Users online count
    li: a(href='#proxies') Express behind proxies
