doctype html
html
  head
    title Express - Moving to version 4
    include ../../includes/head
  body.inner
    .bar
    section.content
      header
        include ../../includes/logo
        - active = 'guide'
        include ../../includes/menu

        include ../../includes/mixins

        ul#menu
          li: ul.active
            li: a(href='#overview') Overview
            li: a(href='#changes') Changes in Express 4
            li: a(href='#example-migration') Migration example
            li: a(href='#app-gen') Express generator

      section
        h1 Moving to Express 4
        .bar
        include:md migrating-4.md
    include ../../includes/footer
