doctype html
html
  head
    title Using template engines
    include ../../includes/head
  body.inner
    .bar
    section#content
      header
        include ../../includes/logo
        - active = 'guide'
        include ../../includes/menu
      include ../../includes/mixins
      include:md using-template-engines.md 

    include ../../includes/footer
