doctype html
html
  head
    title Using middleware
    include ../../includes/head
  body.inner
    .bar
    section.content 
      header
        include ../../includes/logo
        - active = 'guide'
        include ../../includes/menu
      include ../../includes/mixins
      include:md using-middleware.md 

    include ../../includes/footer
