@layer patterns {
  .search-trigger {
    display: flex;
    align-items: center;
    gap: var(--space-6);
    background-color: transparent;
    border-radius: var(--radius-base);
    border: 0;
    color: var(--color-text-tertiary);
    cursor: pointer;
    transition:
      background-color 0.2s,
      border-color 0.2s;

    &:hover {
      background-color: var(--color-bg-secondary);
      border-color: var(--color-border-secondary);
      outline: none;
    }

    &:focus-visible {
      outline: 1px solid var(--color-focus-ring);
    }

    span {
      line-height: var(--line-height-snug);

      @media (--xs-only) {
        display: none;
      }
    }

    svg {
      color: var(--color-icon-primary);
    }

    @media (--md-up) {
      border: 1px solid var(--color-border-secondary);
      padding: var(--space-1-5) var(--space-1-5) var(--space-1-5) var(--space-2);
    }
  }

  .search-trigger-icon {
    border-radius: var(--radius-base);
    transition: background-color var(--duration-200) var(--ease-in-out);
    flex-shrink: 0;

    @media (--xs-only) {
      background-color: var(--color-bg-secondary);
      padding: var(--space-2);

      &:hover {
        background-color: var(--color-bg-mute);
      }
    }
  }

  .search-trigger-shortcut {
    margin-left: auto;
    font-size: var(--font-size-xs);
    color: var(--color-text-secondary);
    background-color: var(--color-bg-secondary);
    padding: var(--space-1) var(--space-2);
    border-radius: var(--radius-base);

    @media (--xs-only) {
      display: none;
    }
  }
}
