#boxes.clearfix
  section#mailing-list
    h3 Mailing List
    p.
      Join over 2000 Express users or browse over 5000
      discussions in the <a href="https://groups.google.com/group/express-js">Google Group</a>.

  section#irc
    h3 IRC Channel
    p.
      Hundreds of developers idle in #express on freenode every day,
      if you have questions about the framework jump in for quick
      feedback.

  section#examples
    h3 Examples
    p.
      View dozens of Express application <a href="https://github.com/visionmedia/express/tree/master/examples">examples</a>
      in the repo covering everything from API design and auth
      to template engine integration.

  section#issues
    h3 Issues
    p.
      If you've come across what you think is a bug, or just want to make
      a feature request open a ticket in the <a href="https://github.com/visionmedia/express/issues">issue queue</a>.

  section#extending
    h3 Third Party
    p.
      Our vibrant community has created a large variety of extensions,
      <a href="https://github.com/senchalabs/connect/wiki">middleware</a>
      and higher level frameworks. Check them out in the
      <a href="https://github.com/visionmedia/express/wiki">wiki</a>.

  section#2x
    h3 Express 2.x Docs
    p.
      Looking for the 2.x documentation? You can find them <a href="2x">here</a>.
