---
import '@styles/main.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Express - Node.js web application framework',
  description = 'Fast, unopinionated, minimalist web framework for Node.js',
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
