<a id="top" href="#"><img src="/images/arrow.png"></a>

<footer>
    <div id="footer-content">
        <div id="github">
            <iframe src="//ghbtns.com/github-btn.html?user=expressjs&amp;repo=express&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        </div>
        <div id="sponsor"><a href="https://expressjs.com">Express</a> проект <a href="https://openjsf.org">фонду OpenJS</a>.</div>
        <div id="fork"><a href="https://github.com/expressjs/expressjs.com">Розмістіть веб-сайт на GitHub</a>.</div>
        <div>Copyright &copy; StrongLoop, Inc. та інших учасників expressjs.com.</div>
    </div>
    <div id="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Ліцензія Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/us/80x15.png" /></a> Цей твір ліцензовано за <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">ліцензією Creative Commons Із Зазначенням Авторства - Поширення На Тих Самих Умовах 3.0 Сполучені Штати</a>.
    </div>
</footer>

{% include footer/_docsearch.html %}
