<a id="top" href="#"><img src="/images/arrow.png"></a>

<footer>
  <section id="doc-langs">
   <a href="http://strongloop.com">StrongLoop/IBM</a> tarafından sağlanan belge çevirileri:
  <a href="/fr/">Fransızca</a>, <a href="/de/">Almanca</a>, <a href="/es/">İspanyolca</a>, <a href="/it/">İtalyanca</a>, <a href="/ja/">Japonca</a>, <a href="/ru/">Rusça</a>, <a href="/zh-cn/">Çince</a>, <a href="/zh-tw/">Klasik Çince</a>, <a href="/ko/">Korece</a>, <a href="/pt-br/">Portekizce</a>.
  <br>
  Topluluk çevirisi için: <a href="/sk/">Slovakça</a>, <a href="/uk/">Ukraynaca</a> and <a href="/uz/">Özbekçe</a>.
  </section>
  <div id="footer-content">
      <div id="github">
        <a class="github-button" href="https://github.com/expressjs/expressjs.com" data-icon="octicon-star" aria-label="Star expressjs/expressjs.com on GitHub">Star</a>
      </div>
      <div id="sponsor"><a href="https://expressjs.com">Express</a> bir <a href="https://openjsf.org">OpenJS Vakfı</a> projesidir.</div>
      <div id="fork"><a href="https://github.com/expressjs/expressjs.com">Github'da Forkla</a>.</div>
      <div>Telif Hakkı &copy; 2017 StrongLoop, IBM, ve diğer expressjs.com katkıda bulunanlar.</div>
  </div>
  <div id="license">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/us/80x15.png" /></a> Bu iş<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons Attribution-ShareAlike 3.0 United States License</a> lisansı altındadır.
  </div>
</footer>

<script async defer src="https://buttons.github.io/buttons.js"></script>

{% include footer/_docsearch.html %}
