<a id="top" href="#"><img src="/images/arrow.png"></a>

<footer>
    <div id="footer-content">
        <div id="github">
            <iframe src="//ghbtns.com/github-btn.html?user=expressjs&amp;repo=express&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        </div>
        <div id="sponsor"><a href="https://expressjs.com">Express</a> è un progetto della <a href="https://openjsf.org">Fondazione OpenJS</a>.</div>
        <div id="fork"><a href="https://github.com/expressjs/expressjs.com">Avviare il sito web su GitHub</a>.</div>
        <div>Copyright &copy; StrongLoop, Inc. e altri contributor di expressjs.com.</div>
    </div>
    <div id="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/us/80x15.png" /></a> Quest'opera è distribuita con Licenza <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons Attribuzione - Condividi allo stesso modo 3.0 Stati Uniti</a>.
    </div>
</footer>

{% include footer/_docsearch.html %}
