<a id="top" href="#"><img src="/images/arrow.png"></a>

<footer>
  <section id="footer-content">
    <div id="footer-copyright">
      <a href="https://openjsf.org/">   
        <img src="https://raw.githubusercontent.com/openjs-foundation/artwork/main/openjs_foundation/openjs_foundation-logo-horizontal-color.svg" alt="OpenJS Foundation" width="125" height="39"/>
      </a>
      <div id="footer-policy">
        <a href="https://terms-of-use.openjsf.org">Terms of Use</a>
        <a href="https://privacy-policy.openjsf.org">Privacy Policy</a> 
        <a id="coc" href="https://github.com/expressjs/express/blob/master/Code-Of-Conduct.md">Code of Conduct</a>
        <a href="https://trademark-policy.openjsf.org">Trademark Policy</a>
        <a id="security" href="https://github.com/expressjs/express/security/policy">Security Policy</a>
        <a id="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">License</a>
      </div>
    </div>
    <div id="footer-links">
      <div class="footer-social">
        <div id="github">
          <a href="https://github.com/expressjs/express" aria-label="Go to the repository on GitHub"><i class="fa fa-github"></i></a>
        </div>  
      </div>
      <a href="https://www.netlify.com">
        <img src="https://www.netlify.com/v3/img/components/netlify-color-accent.svg" alt="Preview Deploys by Netlify" width="80" />
      </a>
    </div>
  </section>
</footer>

{% include footer/_docsearch.html %}
