<!-- NLS_CHARSET=UTF-8 -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-5XL76H" height="0" width="0" style="display: none; visibility: hidden;"></iframe>
</noscript>
<script>
(function(w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-5XL76H');
</script>
<a id="top" href="#"><img src="/images/arrow.png"></a>

<footer>
    <div id="footer-content">
        <div id="github">
            <iframe src="//ghbtns.com/github-btn.html?user=expressjs&amp;repo=express&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        </div>
        <div id="sponsor"><a href="https://github.com/expressjs/express">Express</a>是Node.js的基金會的一個項目。</div>
        <div id="fork"><a href="https://github.com/expressjs/expressjs.com">GitHub 上的網站分支</a>。
        </div>
        <div>Copyright &copy; StrongLoop, Inc. 與其他 expressjs.com 貢獻者。</div>
    </div>
       <div id="license">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="創用 CC 授權條款" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/us/80x15.png" /></a> 本著作係採用<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">創用 CC 姓名標示-相同方式分享 3.0 美國 授權條款</a>授權.
    </div>
</footer>

{% include footer/_docsearch.html %}
