# Website development
* @expressjs/docs-collaborators

# Codeowners
.github/CODEOWNERS @expressjs/docs-captains

# Blog - TODO: Add once Astro blog structure is set up

src/content/blog @expressjs/express-tc
