@font-face {
  font-family: "Open Sans VF";
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: local("Open Sans VF"),
       url("./woff2/OpenSans-VariableFont_wdth,wght.woff2") format("woff2-variations"),
       url("./woff/OpenSans-VariableFont_wdth,wght.woff")   format("woff-variations"),
       url("./ttf/OpenSans-VariableFont_wdth,wght.ttf")    format("truetype-variations");
}

@font-face {
  font-family: "Open Sans VF";
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: local("Open Sans VF Italic"),
       url("./woff2/OpenSans-Italic-VariableFont_wdth,wght.woff2") format("woff2-variations"),
       url("./woff/OpenSans-Italic-VariableFont_wdth,wght.woff")   format("woff-variations"),
       url("./ttf/OpenSans-Italic-VariableFont_wdth,wght.ttf")    format("truetype-variations");
}
