@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: local("Open Sans"),
        url("./woff2/OpenSans.woff2") format("woff2"),
        url("./woff/OpenSans.woff")   format("woff"),
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 100 700;
  font-display: swap;
  src: local("Open Sans"),
       url("./woff2/OpenSans-Italic.woff2") format("woff2"),
       url("./woff/OpenSans-Italic.woff")   format("woff"),
}
