---
import { Body, H1 } from '@components/primitives';
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <H1>Welcome</H1>
  <Body>
    This is a work-in-progress homepage.<br />
    <strong>We invite you to review the <a href="/ds-foundations">Design System Foundations</a> demo page</strong> to explore all tokens, primitives, and patterns.
  </Body>
</Layout>
