---
import { Body, H1 } from '@components/primitives';
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <H1>Fast, unopinionated, minimalist web framework for Node.js</H1>
  <Body>This is your new Astro project.</Body>
</Layout>
