doctype html
html
  head
    title Developing template engines for Express
    include ../../includes/head
  body.inner
    section.content
      header
        include ../../includes/mobile-menu
        include ../../includes/logo
        - active = 'advanced'
        include ../../includes/menu
      include ../../includes/mixins
      #overlay

      include:md developing-template-engines.md

    include ../../includes/footer
