doctype html
html
  head
    title Developing Express components
    include ../../includes/head
  body.inner
    section.content
      header
        include ../../includes/mobile-menu
        include ../../includes/logo
        - active = 'advanced'
        include ../../includes/menu
      include ../../includes/mixins
      #overlay

      include:md express-components.md

    include ../../includes/footer
