doctype html
html
  head
    title Developing Express components
    include ../../includes/head
  body.inner
    .bar
    section.content 
      header
        include ../../includes/logo
        - active = 'advanced'
        include ../../includes/menu
      include ../../includes/mixins
      include:md express-components.md 

    include ../../includes/footer
