doctype html
html
  head
    title Express performance
    include ../../includes/head
  body.inner
    .bar
    section#content
      header
        include ../../includes/logo
        - active = 'advanced'
        include ../../includes/menu
      include ../../includes/mixins
      include:md performance.md 

    include ../../includes/footer
