# Site settings

# Build settings
markdown: kramdown

plugins:
  - jekyll-redirect-from

kramdown:
  input: GFM
  hard_wrap: false
  syntax_highlighter_opts:
    disable : true

exclude: 
  - [uk/CHANGELOG.md]
  - vendor/bundle


github: [metadata]
