!!! 5
html
  head
    title Express - api reference
    include includes/head
  body.inner
    .bar
    section#content
      header
        include includes/logo
        active = '/api.html'
        include includes/menu

      include includes/mixins
      
      include en/api/menu

      #right
        include en/api/express

        a(name='application')
        h2 Application
        include en/api/app
      
        a(name='request')
        h2 Request
        include en/api/req

        a(name='response')
        h2 Response
        include en/api/res

        a(name='middleware')
        h2 Middleware

        p Express exposes its own middleware, but since Express extends 
          a(href='http://www.senchalabs.org/connect/') Connect
          |, all the middleware exposed by Connect are also exposed by Express.

        p This documentation is still under construction, so for missing middleware, please refer to the corresponding one in 
          a(href='http://www.senchalabs.org/connect/') Connect.
        include en/api/middleware

    include includes/footer
