!!! 5
html
  head
    title Express - applications
    include includes/head
  body.applications.inner
    .bar
    section#content
      header
        include includes/logo
        active = '/applications.html'
        include includes/menu
      include en/applications
    include includes/footer
