doctype html
html
  head
    title Express - applications
    include includes/head
  body.applications.inner
    .bar
    section#content
      header
        include includes/logo
        - active = '/applications.html#myspace'
        include includes/menu

      include:md en/applications.md
    include includes/footer
