doctype html
html
  head
    title Express - community
    include includes/head
  body.community.inner
    .bar
    section#content
      header
        include includes/logo
        - active = '/community.html'
        include includes/menu
      #boxes.clearfix
        include:md en/community.md
    include includes/footer
