!!! 5
html
  head
    title Express - community
    include includes/head
  body.community.inner
    .bar
    section#content
      header
        include includes/logo
        active = '/community.html'
        include includes/menu
      include en/community
    include includes/footer
