!!! 5
html
  head
    title Express - faq
    include includes/head
  body.inner
    .bar
    section#content
      header
        include includes/logo
        active = '/faq.html'
        include includes/menu
      #faq
        include en/faq
    include includes/footer
