doctype html
html
  head
    title Express - FAQ
    include includes/head
  body.inner
    .bar
    section#content
      header
        include includes/logo
        - active = '/faq.html'
        include includes/menu
      #faq
        include:md en/faq.md
    include includes/footer
