doctype html
html
  head
    title Express - Node.js web application framework
    include includes/head
    link(rel='stylesheet', href='/css/gh-fork-ribbon.css')

  body

    .github-fork-ribbon-wrapper.right
        .github-fork-ribbon
            a(href='https://github.com/strongloop/express?_ga=1.39756451.1408343404.1407943788') Fork me on GitHub
    .bar
    section#home-content
      header
        include includes/logo
        - active = 'home'
        include includes/menu
      include includes/description

    #install-command $ npm install express --save

    section#intro.content
        #boxes.clearfix
          include:md includes/intro.md
         
    include includes/footer
