!!! 5
html
  head
    title Express - node.js web application framework
    include includes/head
  body
    <a href="https://github.com/strongloop/express"><img style="position: absolute; top: 0; left: 0; border: 0;" src="//s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png" alt="Fork me on GitHub"></a>
    .bar
    section#content
      header
        include includes/logo
        active = '/'
        include includes/menu
     section#logos
       .content
         include includes/app-logos
     section#intro
       .content
         include includes/intro
    include includes/footer
