!!! 5
html
  head
    title Express - node.js web application framework
    include includes/head
  body
    .bar
    section#content
      header
        include includes/logo
        active = '/'
        include includes/menu
     section#logos
       .content
         include includes/app-logos
     section#intro
       .content
         include includes/intro
    include includes/footer
