doctype html
html
  head
    title Express - Node.js web application framework
    include includes/head
  body
    section#home-content
      header
        - active = 'home'
        include includes/header
      #overlay
      include includes/description
      #install-command $ npm install express --save

    section#intro
        #boxes.clearfix
          include:md includes/intro.md

    //-
      section#announcements
          include:md includes/announcements.md

    include includes/footer
