doctype html
html
  head
    title Express - Moving to version 4
    include includes/head
  body.inner
    .bar
    section#content
      header
        include includes/logo
        - active = '/migrating-4.html'
        include includes/menu
        
        include includes/mixins
        
        ul#menu
          li: ul.active
            li: a(href='#overview') Overview
            li: a(href='#changes') Changes in Express 4
            li: a(href='#example-migration') Example app migration
            li: a(href='#app-gen') Upgrading Express app generator
          
      include en/migrating-4
    include includes/footer
