/* general */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 400 14px/1.6 "Open Sans", sans-serif;
  background: url(/images/bg.jpg);
  margin: 0;
  padding: 0;
  color: #555;
}

h1, h2, h3 {
  margin: 5px 0;
  font-weight: normal;
  color: #353535;
  -webkit-font-smoothing: antialiased;
}

p em {
  font-weight: bold;
  color: #353535;
}

p {
  margin: 20px 0;
}

strong, th {
  color: #353535;
}

.inner {
  padding-top: 98px;
}

#home-content {
  margin: 10% 0 0 80px;
  width: 900px;
}

#content {
  margin-left: 80px;
  width: 900px;
}

section, span.block-section {
  margin-bottom: 3em;
}

span.block-section {
  display: block;
}

li code {
  color: #333;
}

section section p {
  /*width: 60%;*/
}

h2 {
  /*padding-top: 20px;*/
  font-weight: bold;
  font-size: 2.3em;
  margin-bottom: 20px;
}

h3 {
  /*background: url(/images/hr.png) top center no-repeat;*/
  /*margin-top: 5px;*/
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.5em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.0em;
  color: #666;
}

/* links */

a {
  color: #259dff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2:target {
  padding-top: 100px;
}

h3:target {
  padding-top: 100px;
}

h4:target {
  /*padding-top: 50px;*/
}

nav a {
  font-size: 12px;
  color: #7B838A;
}

/* logo */

#logo {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 10px 25px;
  width: auto;
  border-left: none;
}

#logo .express {
  display: block;
  font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #555;
  width: 100%;
}

#logo a:hover, #description a:hover {
  text-decoration: none;
  color: #858585;
}

#description .express {
  display: block;
  font: 60px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #353535;
  width: 50%;
}

#description {
  margin-top: 160px;
  margin-bottom: 80px;
  margin-left: 80px;
  padding-left: 40px;
  -webkit-font-smoothing: antialiased;
}

#description .description {
  position: relative;
  top: -5px;
  font: 100 60px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bebebe;
  line-height: .75;
}

#description em {
  font-style: normal;
  font-weight: 100;
  font-size: 9px;
  color: #999;
  margin-left: 5px;
}

#install-command {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-left: 200px;
  margin-bottom: 3%;
  width: 635px;
}

#intro {
  padding: 20px 0 0 50px;
  margin-bottom: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: #f4f4f3;
  width: 100%;
  height: 55px;
  z-index: 100;
  border-bottom: 1px solid #ddd;
}

.scroll header {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 4px #eee;
}

/* code */

p code, td code {
  color: #333;
}

pre {
  color: #666;
  font-size: 14px;
  line-height: 1.4;
  background: white;
  border: 1px solid #eee;
  padding: 16px;
  border-radius: 3px;
  overflow: auto;
}

code .comment { color: #888 }
code .init { color: #2F6FAD }
code .string { color: #5890AD }
code .keyword { color: #8A6343 }
code .number { color: #2F6FAD }

.notice {
  font-size: 12px; 
  color: #555;
}

.info {
  background: #f7f7f7;
  padding: 3px;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  font-size: 12px;  
}

/* top button */

.scroll #top {
  opacity: .2;
}

#top {
  line-height: 0;
  background: black;
  -webkit-border-radius: 2px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 8px;
  text-decoration: none;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 300ms;
}

#top:hover {
  opacity: 1;
}

#top img {
  width: 8px;
  height: 5px;
}

/* navigation */

nav {
  position: fixed;
  top: 15px;
  left: 410px;
  z-index: 100;
}

nav a {
  margin: 0 5px;
  padding-right: 15px;
  border-right: 1px dotted #eee;
}

nav a:last-child {
  border-right: none;
}

nav a.active {
  font-weight: bold;
  color: #353535;
}

/* clearfix */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/* boxes */

#boxes {
  font-size: 12px;
  margin-top: 30px;
}

.inner #boxes {
  font-size: 13px;
}

#boxes h3 {
  line-height: 1.25em;
}

#boxes div {
  width: 210px;
  margin: 0 25px;
  float: left;
  /* fix grid jank. #105 */
  list-style: none;
  padding-bottom: 20px;
}

#boxes h3 {
  background: none;
  margin-top: 0;
  padding-top: 0;
}

#boxes section p {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* secondary menu */

#menu {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 105px;
  right: 30px;
  height: 500px;
  text-align: right;
  font-size: 13px;
}

#menu li {
  list-style: none;
}

#menu ul {
  height: 0;
  overflow-y: hidden;
}

#menu ul.active {
  height: auto;
}

#menu > li > a {
  color: #353535;
  font-weight: bold;
}

#menu ul a {
  color: #555;
}

#menu ul a.active {
  color: #259dff;
}

/* applications page */

#applications .section {
  display: block;
  margin-bottom: 50px;
}

.application h2 {
  margin: 0;
}

.application {
  /*background: url(/images/hr.png) top center no-repeat;*/
  padding: 80px 0;
  height: 600px;
  position: relative;
}

.application p {
  float: left;
  width: 30%;
}

.application img {
  float: right;
}

.application .link {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.application .link a {
  margin-left: 4px;
}

/* ipad landscape */

@media all and (max-width: 1200px) {
  #content {
    width: 760px;
  }

  .applications #content,
  .community #content {
    width: 900px;
  }
}

/* ipad portrait */

@media all and (max-width: 768px) {
  #content {
    width: 500px;
  }

  .applications #content,
  .community #content {
    width: 600px;
  }

  .application img {
    width: 60%;
  }

  .application {
    height: 450px;
  }

  #boxes {
    margin-left: 0;
  }

  #boxes section {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    /* undo grid jank */
    min-height: 0;
  }
}

/* iphone portrait */

@media all and (max-width: 650px) {
  #logo {
    margin-left: 0;
  }

  #content {
    width: 380px;
  }

  .applications #content,
  .community #content {
    width: 500px;
  }

  section section p {
    width: 100%;
  }

  .application {
    height: 380px;
  }

  .application img {
    width: 60%;
  }
}

/* tmp */

#logos, footer {
  display: none;
}

#book {
  position: relative;
}

#book img {
  position: absolute;
  top: 0;
  right: -110px;
  width: 50%;
}

.doctable {
  margin: 1em 1em 1em 0;
  border: 1px solid #d8d8d8;
  border-collapse: collapse;
  background-color: #f4f3f3;
  empty-cells:show;
  width: 100%;
}
 
.doctable td, .doctable th {
  padding: 7px;
  line-height: 120%;
  vertical-align: top;
  border-color: #d8d8d8;
}
 
.doctable tr th {
  background-color: #D8D8D8;
  font-size: 110%;
}

.doctable td p:first-child {
  margin-top: 0;
}

.doctable td p, li p {
  width: 100% !important;
}

.doctable ul {
  margin: 20px 0
}

ul.doclist {
  width: 500px;
}


/* dropdown menu */
.menu ul {
  display: none;
}

.menu ul.dropit-submenu {
  background-color: #fcfcfa;
  border: 1px solid #b2b2b2;
  padding: 6px 0;
  margin: 0 0 0 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}

.menu ul.dropit-submenu a {
  display: block;
  color: #777;
  padding: 0 8px;
}

.menu ul.dropit-submenu a:hover {
  background: #259dff;
  color: #fff;
  text-decoration: none;
}

#navmenu {
  padding: 0;
  margin: 0;
}

#navmenu > li {
  list-style: none;
  padding: 0;
  float: left;
}

#navmenu a:hover {
  text-decoration: none;
}

/* github ribbon */

.right .github-fork-ribbon {
  background-color: #aaa;
}
