<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body>
    {% include header.html %}
    <div id="overlay"></div>

    <div class="content">
      <nav aria-labelledby="sidebar-heading">
        <div class="toc-container">
          <h3 id="sidebar-heading" class="toc-heading"><em>On this page</em></h3>
          {% include api/en/{{page.version}}/menu.md %}
        </div>
      </nav>
      <main>
        {{ content }}
        {% include github-edit-btn.html %}
      </main>
    </div>

    {% include footer.html %}

  </body>

</html>
