<!DOCTYPE html>
<html lang="{{ page.lang }}">
  {% include head.html %}
  
  <body>
    {% include header.html %}
    <div id="overlay"></div>
    
    <div class="content flex-row-content">
      <nav aria-labelledby="sidebar-heading">
        <div class="toc-container">
          <h3 id="sidebar-heading" class="toc-heading"><em>Blog posts</em></h3>
          {% include blog/posts-menu.md %}
        </div>
      </nav>
      <main id="blog-doc" markdown="1">
          {% if page.title %}
          <h1>{{page.title}}</h1>
          {% endif %} 
          {% if page.sub_title %}
          <h2>{{page.sub_title}}</h2>
          {% endif %}
          <div class="blog-details">
            {% include blog/authors.html authors=page.authors %}
            <div class="blog-date">{{page.date| date: "%d %b %Y" }}</div>
          </div>
        {{ content }}
        {% include github-edit-btn.html %}
      </main>
    </div>

    {% include footer.html %}

  </body>

</html>
