doctype html
html
  head
    title Express performance
    include ../includes/head
  body.inner
    section.content
      header
        include ../includes/mobile-menu
        include ../includes/logo
        - active = 'advanced'
        include ../includes/menu
      include ../includes/mixins
      #overlay

      include:md performance.md

    include ../includes/footer
