doctype html
html
  head
    title Express security updates
    include ../includes/head
  body
    section.content
      header
        - active = 'advanced'
        include ../includes/header
      include ../includes/mixins
      #overlay

      include:md security-updates.md

    include ../includes/footer
