/**
 * VersionSwitcher Styles
 **/

@layer patterns {
  .version-switcher {
    gap: var(--space-2);
    padding-bottom: var(--space-3);
    margin-bottom: var(--space-2);
    border-bottom: 1px solid var(--color-border-mute);
  }

  .version-switcher--hidden {
    display: none;
  }

  .version-switcher__label {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
}
