/**
 * VersionSwitcher Styles
 **/

@layer patterns {
  .version-switcher {
    gap: var(--space-2);
    padding-bottom: var(--space-3);
    margin-bottom: var(--space-2);
    border-bottom: 1px solid var(--color-border-mute);

    @media (--md-up) {
      border-bottom: 0;
      margin-bottom: 0;
      padding-top: var(--space-3);
    }
  }
}
