---
/**
 * Col Component
 *
 * Responsive grid column. Spans 1-12 columns out of 12-column grid.
 * Breakpoint props cascade: xs → md → lg
 *
 * @example
 * <Col xs={12} md={6} lg={4}>Full mobile, half tablet, third desktop</Col>
 * <Col xs={6}>Always half width</Col>
 */

import type { HTMLAttributes } from 'astro/types';
import './Grid.css';

type ColSpan = 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12;

export interface ColProps {
  /** Column span for mobile (xs) breakpoint */
  xs?: ColSpan;
  /** Column span for tablet (md) breakpoint */
  md?: ColSpan;
  /** Column span for desktop (lg) breakpoint */
  lg?: ColSpan;
}

type Props = ColProps & HTMLAttributes<'div'>;

const { xs, md, lg, class: className, ...rest } = Astro.props;
---

<div class:list={['col', xs && `col-xs-${xs}`, md && `col-md-${md}`, lg && `col-lg-${lg}`, className]} {...rest}>
  <slot />
</div>
