@layer patterns {
  .breadcrumbs {
    display: flex;
    gap: var(--space-3);
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    row-gap: var(--space-2);

    @media (--xs-only) {
      gap: var(--space-1);
    }

    & li {
      display: flex;
      align-items: center;
      gap: var(--space-3);
      flex-shrink: 0;

      @media (--xs-only) {
        gap: var(--space-1);
      }
    }

    & svg {
      flex-shrink: 0;
    }
  }
  .breadcrumb-link {
    display: inline-flex;
    align-items: center;
    gap: var(--space-1-5);
    color: var(--color-text-primary);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    flex-shrink: 0;

    &:hover {
      opacity: 0.8;
    }

    @media (--xs-only) {
      font-size: var(--font-size-sm);
      gap: var(--space-1);
    }
  }

  .breadcrumb-item {
    color: var(--color-text-primary);
    flex-shrink: 0;

    @media (--xs-only) {
      font-size: var(--font-size-sm);
    }
  }
}
