<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:image" content="https://expressjs.com/images/express-facebook-share.png">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/style.css?_={{ site.time | date: '%s' }}">
    <link rel="stylesheet" href="/css/dropit.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;amp;subset=latin,latin-ext">
    <link rel="stylesheet" href="/css/{{ page.lang }}.css">
    <link rel="stylesheet" href="/css/nodeinteractive.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script data-cfasync="false" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-cfasync="false" src="/js/ismobile.js"></script>
    <script data-cfasync="false" src="/js/app.js"></script>
    <script data-cfasync="false" src="/js/retina.js"></script>
    <script data-cfasync="false" src="/js/dropit.js"></script>
    <script data-cfasync="false" src="/js/prism.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />

</head>
