<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts Preload -->
    <link rel="preload" href="/fonts/open-sans/woff2/open-sans-latin-wght-normal.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/open-sans/woff2/open-sans-latin-wght-italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/open-sans/woff/OpenSans.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/open-sans/woff/OpenSans-Italic.woff" as="font" type="font/woff" crossorigin>
    <link rel="stylesheet" href="/assets/fonts/open-sans/fonts.css">

    <!-- CSS Preconnect & Preload -->
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
    <link rel="preload" href="/assets/css/variables.css?_={{ site.time | date: '%s' }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="/assets/css/style.css?_={{ site.time | date: '%s' }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/assets/css/variables.css?_={{ site.time | date: '%s' }}">
        <link rel="stylesheet" href="/assets/css/style.css?_={{ site.time | date: '%s' }}">
    </noscript>

    <!-- Non-critical CSS -->
    <link rel="stylesheet" href="/assets/css/sintax.css?_={{ site.time | date: '%s' }}">
    <link rel="stylesheet" href="/assets/css/langs/{{ page.lang }}.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">

    <!-- Scripts -->
    <script data-cfasync="false" src="/assets/js/theme.js"></script>
    <script data-cfasync="false" defer src="/assets/js/app.js"></script>
    <script data-cfasync="false" defer src="/assets/js/menu.js"></script>
    <script data-cfasync="false" async src="/assets/js/copycode.js"></script>
    {% if page.layout == 'api' %}
    <script type="module" src="/assets/js/api.js"></script>
    {% endif %}

    <!-- SEO -->
    <link rel="canonical" href="https://expressjs.com{{ page.url }}">
    <meta name="description" content="{{ page.description }}">

    <!-- Open Graph -->
    <meta property="og:url" content="https://expressjs.com{{ page.url }}">
    {% if page.authors %}
        <meta property="og:type" content="article">
        {%- for author in page.authors %}
        <meta property="og:article:author" content="{{ author.name }}">
        {%- endfor %}
    {% else %}
        <meta property="og:type" content="website">
    {% endif %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    {% if page.image %}
        <meta property="og:image" content="{{ page.image }}">
    {% else %}
        <meta property="og:image" content="https://expressjs.com/assets/images/og.png">
    {% endif %}

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="expressjs.com">
    <meta property="twitter:url" content="https://expressjs.com{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    {% if page.image %}
        <meta property="twitter:image" content="{{ page.image }}">
    {% else %}
        <meta property="twitter:image" content="https://expressjs.com/assets/images/og.png">
    {% endif %}

    <!-- RSS / Atom -->
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Express Blog">
    <link rel="alternate" type="application/atom+xml" href="/vulnerabilities.xml" title="Express Vulnerabilities">
</head>
