<div id="mobile-menu">
  <div id="language-picker-button" class="header-btn">
    {% include icons/translation-icon.svg %}
  </div>
</div>
<div id="language-picker-menu">
  <div id="navbar">
    <ul id="navmenu">
      {% assign url_parts = page.url | split: '/' %}

      {% assign url_remainder = url_parts | slice: 2, url_parts.size | join: '/' %}

      {% for lang in site.data.languages %}
      <li class="submenu">
        <a href="/{{ lang.code }}/{{ url_remainder }}">{{ lang.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>