<div id="mobile-menu">
  <div id="language-picker-button" class="button" aria-haspopup="menu" aria-label="Change language">
    {% include icons/i18n.svg %}
  </div>
</div>
<div id="language-picker-menu">
  <div id="langbar">
    <ul id="langmenu">
      {% assign url_parts = page.url | split: '/' %}
      {% assign url_remainder = url_parts | slice: 2, url_parts.size | join: '/' %}
      {% assign current_lang = page.lang %}
      {% for lang in site.data.languages %}
      <li class="submenu">
        <a href="/{{ lang.code }}/{{ url_remainder }}">
          {% if lang.code == current_lang %}
            <strong>{{ lang.name }}</strong>
          {% else %}
            {{ lang.name }}
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>