doctype html
html
  head
    title Express books and blogs
    include ../includes/head
  body
    section.content
      header
        - active = 'resources'
        include ../includes/header
      include ../includes/mixins
      #overlay

      include:md books-blogs.md

    include ../includes/footer
