doctype html
html
  head
    title Express Resources - Books
    include ../includes/head
  body.inner
    .bar
    section.content
      header
        include ../includes/mobile-menu
        include ../includes/logo
        - active = 'resources'
        include ../includes/menu
      include ../includes/mixins
      #overlay

      include:md books-blogs.md

    include ../includes/footer
