doctype html
html
  head
    title Express Resources - Community
    include ../includes/head
  body.inner
    section.content
      header
        include ../includes/mobile-menu
        include ../includes/logo
        - active = 'resources'
        include ../includes/menu
      include ../includes/mixins
      #overlay

      h1 Community
      .vspace
      include:md community.md

    include ../includes/footer
