doctype html
html
  head
    title Express community
    include ../includes/head
  body.inner
    section.content
      header
        - active = 'resources'
        include ../includes/header
      include ../includes/mixins
      #overlay

      h1 Community
      include:md community.md

    include ../includes/footer
