doctype html
html
  head
    title Express glossary
    include ../includes/head
  body.inner
    section.content
      header
        - active = 'resources'
        include ../includes/header
      include ../includes/mixins
      #overlay
      h1 Glossary
      include:md glossary.md

    include ../includes/footer
