doctype html
html
  head
    title Express middleware
    include ../includes/head
  body.inner
    .bar
    section.content
      header
        - active = 'resources'
        include ../includes/header
      include ../includes/mixins
      include:md middleware.md

    include ../includes/footer
