doctype html
html
  head
    title Express - api reference
    include ../includes/head
  body.inner
    .bar
    section#content
      header
        include ../includes/logo
        - active = '/4x/api.html'
        include ../includes/menu

      include ../includes/mixins

      include ./en/api/menu

      #right

        h2(id='application') Application
        section
          h3(id='express') express()
          include:md ./en/api/express.md
        include ./en/api/app

        h2(id='request') Request
        include ./en/api/req

        h2(id='response') Response
        include ./en/api/res

        h2(id='router') Router
        include ./en/api/router

        h2(id='middleware') Middleware
        include ./en/api/middleware

    include ../includes/footer
