doctype html
html
  head
    title Express - api reference
    include ../includes/head
  body
    section.content
      header
        - active = 'api'
        include ../includes/header
      include ../includes/mixins
      include ./en/api/menu
      #overlay

      #api-doc

        h1 4.x API

        a(id='application').h2
          h2 Application
        section
          h3(id='express') express()
          include:md ./en/api/express.md
        include ./en/api/app

        a(id='request').h2
          h2 Request
        include ./en/api/req

        a(id='response').h2
          h2 Response
        include ./en/api/res

        a(id='router').h2
          h2 Router
        include ./en/api/router

        a(id='middleware').h2
          h2 Middleware
        include ./en/api/middleware

    include ../includes/footer
