doctype html
html
  head
    title Express - api reference
    include ../includes/head
  body
    section.content
      header
        - active = 'api'
        include ../includes/header
      include ../includes/mixins
      include ./en/api/menu
      #overlay

      #api-doc

        h1 4.x API

        h2 Application
        a(id='application').h2
        section
          h3(id='express') express()
          include:md ./en/api/express.md
        include ./en/api/app

        h2 Request
        a(id='request').h2
        include ./en/api/req

        h2 Response
        a(id='response').h2
        include ./en/api/res

        h2 Router
        a(id='router').h2
        include ./en/api/router

    include ../includes/footer
