doctype html
html
  head
    title Express Resources - Applications
    include ../../includes/head
  body.inner
    .bar
    section#content
      header
        include ../../includes/logo
        - active = 'resources'
        include ../../includes/menu
      include ../../includes/mixins
      include:md applications.md

    include ../../includes/footer
