doctype html
html
  head
    title Express Resources - Applications
    include ../../includes/head
  body.inner
    section#application-content.content
      header
        include ../../includes/mobile-menu
        include ../../includes/logo
        - active = 'resources'
        include ../../includes/menu
      include ../../includes/mixins
      #overlay

      h1 Applications
      .vspace
      include:md applications.md

    include ../../includes/footer
