---
/**
 * H5 - Lead/intro paragraph text
 *
 * @example
 * <H5>Introduction paragraph with larger text.</H5>
 */

import type { HTMLAttributes } from 'astro/types';
import Typography from './Typography.astro';
import type { TypographyColor, TypographyWeight } from './types.ts';

type HTMLTag = 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6';

interface Props extends HTMLAttributes<'h5'> {
  as?: HTMLTag;
  color?: TypographyColor;
  weight?: TypographyWeight;
  vMargin?: boolean;
}

const { as = 'h5', ...rest } = Astro.props;
---

<Typography as={as} variant="h5" {...rest}>
  <slot />
</Typography>
