section
  h3(id='app.mountpath') app.mountpath

  p.
    This property refers to the path on which a sub app was mounted.
    It is analogous to the <a href="#req.baseUrl">baseUrl</a> property of the <code>req</code> object.

  +js.

    var admin = express();

    admin.get('/', function (req, res) {
      console.log(admin.mountpath); // prints "/admin"
      res.send('Admin Homepage');
    })

    app.use('/admin', admin);
