h3 Properties

section
  h3(id='app.locals') app.locals
  include:md ./app-locals.md

section
  h3(id='app.mountpath') app.mountpath
  include:md ./app-mountpath.md

h3 Events

section
  h3(id='app.onmount') app.on('mount', callback(parent))
  include:md ./app-onmount.md

h3 Methods

section
  h3(id='app.all') app.all(path, callback [, callback ...])
  include:md ./app-all.md

section
  h3(id='app.delete.method') app.delete(path, callback [, callback ...])
  include:md ./app-delete-method.md

section
  h3(id='app.disable') app.disable(name)
  include:md ./app-disable.md

section
  h3(id='app.disabled') app.disabled(name)
  include:md ./app-disabled.md

section
  h3(id='app.enable') app.enable(name)
  include:md ./app-enable.md

section
  h3(id='app.enabled') app.enabled(name)
  include:md ./app-enabled.md

section
  h3(id='app.engine') app.engine(ext, callback)
  include:md ./app-engine.md

section
  h3(id='app.get') app.get(name)
  include:md ./app-get.md

section
  h3(id='app.get.method') app.get(path, callback [, callback ...])
  include:md ./app-get-method.md

section
  h3(id='app.listen') app.listen()
  include:md ./app-listen.md

section
  h3(id='app.param') app.param([name], callback)
  include:md ./app-param.md

section
  h3(id='app.path') app.path()
  include:md ./app-path.md

section
  h3(id='app.post.method') app.post(path, callback [, callback ...])
  include:md ./app-post-method.md

section
  h3(id='app.put.method') app.put(path, callback [, callback ...])
  include:md ./app-put-method.md

section
  h3(id='app.render') app.render(view, [locals], callback)
  include:md ./app-render.md

section
  h3(id='app.route') app.route(path)
  include:md ./app-route.md

section
  h3(id='app.METHOD') app.METHOD(path, callback [, callback ...])
  include:md ./app-METHOD.md

section
  h3(id='app.set') app.set(name, value)
  include:md ./app-set.md
  h4(id='app.settings') Application Settings
  include:md ./app-settings.md

section
  h3(id='app.use') app.use([path], function [, function...])
  include:md ./app-use.md
