section
  h3(id='app-settings') settings
  include:md ./app-settings.md
  
section
  h3(id='app.set') app.set(name, value)
  include:md ./app-set.md

section
  h3(id='app.get') app.get(name)
  include:md ./app-get.md

section
  h3(id='app.enable') app.enable(name)
  include:md ./app-enable.md

section
  h3(id='app.enabled') app.enabled(name)
  include:md ./app-enabled.md

section
  h3(id='app.disable') app.disable(name)
  include:md ./app-enabled.md

section
  h3(id='app.disabled') app.disabled(name)
  include:md ./app-disabled.md

section
  h3(id='app.use') app.use([path], [function...], function)
  include:md ./app-use.md

include ./app-engine
include ./app-param
include ./app-VERB
include ./app-all
include ./app-route
include ./app-locals
include ./app-render
include ./app-listen
include ./app-path
include ./app-mountpath
include ./app-onmount
