ul#menu

  li#app-api
    a(href='#application') Application
    ul#app-menu
      li: a(href='#express') express()
      li: em Properties
      li: a(href='#app.locals') app.locals
      li: a(href='#app.mountpath') app.mountpath
      li: em Events
      li: a(href='#app.onmount') mount
      li: em Methods
      li: a(href='#app.all') app.all()
      li: a(href='#app.disable') app.disable()
      li: a(href='#app.disabled') app.disabled()
      li: a(href='#app.enable') app.enable()
      li: a(href='#app.enabled') app.enabled()
      li: a(href='#app.engine') app.engine()
      li: a(href='#app.get') app.get()
      li: a(href='#app.listen') app.listen()
      li: a(href='#app.param') app.param()
      li: a(href='#app.path') app.path()
      li: a(href='#app.render') app.render()
      li: a(href='#app.route') app.route()
      li: a(href='#app.METHOD') Routing
      li: a(href='#app-settings') Settings
      li: a(href='#app.set') app.set()
      li: a(href='#app.use') app.use()

  li#req-api
    a(href='#request') Request
    ul#req-menu
      li: em Properties
      li: a(href='#req.baseUrl') req.baseUrl
      li: a(href='#req.body') req.body
      li: a(href='#req.cookies') req.cookies
      li: a(href='#req.fresh') req.fresh
      li: a(href='#req.hostname') req.hostname
      li: a(href='#req.ip') req.ip
      li: a(href='#req.ips') req.ips
      li: a(href='#req.originalUrl') req.originalUrl
      li: a(href='#req.params') req.params
      li: a(href='#req.path') req.path
      li: a(href='#req.protocol') req.protocol
      li: a(href='#req.query') req.query
      li: a(href='#req.route') req.route
      li: a(href='#req.secure') req.secure
      li: a(href='#req.signedCookies') req.signedCookies
      li: a(href='#req.stale') req.stale
      li: a(href='#req.subdomains') req.subdomains
      li: a(href='#req.xhr') req.xhr
      li: em Methods
      li: a(href='#req.accepts') req.accepts()
      li: a(href='#req.acceptsCharsets') req.acceptsCharsets()
      li: a(href='#req.acceptsEncodings') req.acceptsEncodings()
      li: a(href='#req.acceptsLanguages') req.acceptsLanguages()
      li: a(href='#req.get') req.get()
      li: a(href='#req.is') req.is()
      li: a(href='#req.param') req.param()

  li#res-api
    a(href='#response') Response
    ul#res-menu
      li: em Properties
      li: a(href='#res.headersSent') res.headersSent
      li: a(href='#res.locals') res.locals
      li: em Methods
      li: a(href='#res.attachment') res.attachment()
      li: a(href='#res.cookie') res.cookie()
      li: a(href='#res.clearCookie') res.clearCookie()
      li: a(href='#res.download') res.download()
      li: a(href='#res.end') res.end()
      li: a(href='#res.format') res.format()
      li: a(href='#res.get') res.get()
      li: a(href='#res.json') res.json()
      li: a(href='#res.jsonp') res.jsonp()
      li: a(href='#res.links') res.links()
      li: a(href='#res.location') res.location()
      li: a(href='#res.redirect') res.redirect()
      li: a(href='#res.render') res.render()
      li: a(href='#res.send') res.send()
      li: a(href='#res.sendFile') res.sendFile()
      li: a(href='#res.sendStatus') res.sendStatus()
      li: a(href='#res.set') res.set()
      li: a(href='#res.status') res.status()
      li: a(href='#res.type') res.type()
      li: a(href='#res.vary') res.vary()


  li#router-api
    a(href='#router') Router
    ul#router-menu
      li: a(href='#router') Router()
      li: em Methods
      li: a(href='#router.all') router.all()
      li: a(href='#router.METHOD') router.METHOD()
      li: a(href='#router.param') router.param()
      li: a(href='#router.route') router.route()
      li: a(href='#router.use') router.use()



  li#middleware-api
    a(href='#middleware') Middleware
    ul#middleware-menu
      li: a(href='#middleware.api') API
      li: a(href='#middleware.application') Application level
      li: a(href='#middleware.router') Router level
      li: a(href='#middleware.thirdparty') Third-party
      li: a(href='#middleware.builtin') Built-in
