p As of 4.x, Express no longer depends on Connect. Except for <code>express.static</code>, all of Express' previously included middleware are now in separate repos. Please view <a href="https://github.com/senchalabs/connect#middleware">the list of middleware</a>.

p <code>express.static</code> is based on <a href="https://github.com/expressjs/serve-static"><code>serve-static</code></a>, refer its <a href="https://github.com/expressjs/serve-static">documentation</a> for specifics about its usage and options.
