section
  h3(id='middleware.thirdparty') Third-party middleware

  p Express is a routing and middleware web framework with minimal functionality of its own. Functionality to Express apps are added via third-party middleware.

  p Install the node module for the required functionality and loaded it in your app at the application level or at the router level.

  p In the following example, <code>cookie-parser</code>, a cookie parsing middleware is installed and loaded in the app.

  +js.
    $ npm install cookie-parser

  +js.

    var express = require('express');
    var app = express();
    var cookieParser = require('cookie-parser');

    // load the cookie parsing middleware
    app.use(cookieParser);

  p <a href="https://github.com/senchalabs/connect#middleware">Here</a> is a list of third-party middleware commonly used with Express.
