section
  h3(id='req.route') req.route

  p.
    The currently matched <code>Route</code>.

  +js.
    app.get('/user/:id?', function userIdHandler(req, res){
      console.log(req.route);
      res.send('GET');
    })

  p.
    Example output from the previous snippet:

  +js.

    { path: '/user/:id?',
      stack:
       [ { handle: [Function: userIdHandler],
           name: 'userIdHandler',
           params: undefined,
           path: undefined,
           keys: [],
           regexp: /^\/?$/i,
           method: 'get' } ],
      methods: { get: true } }
