section
  h3(id='req.acceptsCharset') req.acceptsCharset(charset)

  p.
    Check if the given <code>charset</code> are acceptable.

  p.
    Please refer to <a href="https://github.com/expressjs/accepts">accepts</a> for additional documentation or any issues and concerns.