include:md ./req.md
h3(id='req.properties') Properties

section
  h3(id='req.app') req.app
  include:md ./req-app.md

section
  h3(id='req.baseUrl') req.baseUrl
  include:md ./req-baseUrl.md

section
  h3(id='req.body') req.body
  include:md ./req-body.md

section
  h3(id='req.cookies') req.cookies
  include:md ./req-cookies.md

section
  h3(id='req.fresh') req.fresh
  include:md ./req-fresh.md

section
  h3(id='req.hostname') req.hostname
  include:md ./req-hostname.md

section
  h3(id='req.ip') req.ip
  include:md ./req-ip.md

section
  h3(id='req.ips') req.ips
  include:md ./req-ips.md

section
  h3(id='req.originalUrl') req.originalUrl
  include:md ./req-originalUrl.md

section
  h3(id='req.params') req.params
  include:md ./req-params.md

section
  h3(id='req.path') req.path
  include:md ./req-path.md

section
  h3(id='req.protocol') req.protocol
  include:md ./req-protocol.md

section
  h3(id='req.query') req.query
  include:md ./req-query.md

section
  h3(id='req.route') req.route
  include:md ./req-route.md

section
  h3(id='req.secure') req.secure
  include:md ./req-secure.md

section
  h3(id='req.signedCookies') req.signedCookies
  include:md ./req-signedCookies.md

section
  h3(id='req.stale') req.stale
  include:md ./req-stale.md

section
  h3(id='req.subdomains') req.subdomains
  include:md ./req-subdomains.md

section
  h3(id='req.xhr') req.xhr
  include:md ./req-xhr.md

h3(id='req.methods') Methods

section
  h3(id='req.accepts') req.accepts(types)
  include:md ./req-accepts.md

section
  h3(id='req.acceptsCharsets') req.acceptsCharsets(charset [, ...])
  include:md ./req-acceptsCharsets.md

section
  h3(id='req.acceptsEncodings') req.acceptsEncodings(encoding [, ...])
  include:md ./req-acceptsEncodings.md

section
  h3(id='req.acceptsLanguages') req.acceptsLanguages(lang [, ...])
  include:md ./req-acceptsLanguages.md

section
  h3(id='req.get') req.get(field)
  include:md ./req-get.md

section
  h3(id='req.is') req.is(type)
  include:md ./req-is.md

section
  h3(id='req.param') req.param(name [, defaultValue])
  include:md ./req-param.md
