include ./req-params
include ./req-query
include ./req-body
include ./req-files
include ./req-param
include ./req-route
include ./req-cookies
include ./req-signedCookies
include ./req-header
include ./req-accepts
include ./req-accepted
include ./req-is
include ./req-ip
include ./req-ips
include ./req-path
include ./req-host
include ./req-fresh
include ./req-stale
include ./req-xhr
include ./req-protocol
include ./req-secure
include ./req-subdomains
include ./req-originalUrl
include ./req-acceptedLanguages
include ./req-acceptedCharsets
include ./req-acceptsCharset
include ./req-acceptsLanguage
