section
  h3(id='res.sendFile') res.sendFile(path, [options], [fn])

  .notice <b>Note</b>: <code>res.sendFile</code> requires Express version to be at least 4.8.0

  p Transfer the file at the given <code>path</code>.

  p.
    Automatically defaults the Content-Type response header field based
    on the filename's extension. The callback <code>fn(err)</code> is
    invoked when the transfer is complete or when an error occurs.

  p.
    By default the <code>path</code> must be an absolute filename. Set the <code>root</code>
    option to use relative paths.

  p Options:

  ul
    li <code>maxAge</code> in milliseconds (default: 0)
    li <code>root</code> root directory for relative filenames

  p.
    This method provides fine-grained support for file serving
    as illustrated in the following example:

  +js.
    app.get('/user/:uid/photos/:file', function(req, res){
      var uid = req.params.uid
        , file = req.params.file;

      req.user.mayViewFilesFrom(uid, function(yes){
        if (yes) {
          res.sendFile('/uploads/' + uid + '/' + file);
        } else {
          res.status(403).send('Sorry! you cant see that.');
        }
      });
    });

  p.
    Please refer to <a href="https://github.com/visionmedia/send">send</a> for additional documentation or any issues and concerns.
