section
  h3(id='res.sendFile') res.sendFile(path, [options], [fn])

  .notice <b>Note</b>: <code>res.sendFile</code> requires Express version to be at least 4.8.0

  p Transfer the file at the given <code>path</code>. The Content-Type response header field is automatically set based on the filename's extension.

  p.
    Unless the <code>root</code> option is set in the options object, <code>path</code> must be an absolute path of the file.

  p Options:

    ul
      li <code>maxAge</code> sets the max-age property of the Cache-Control header in milliseconds or a string in <a href="https://www.npmjs.org/package/ms">ms format</a>, defaults to 0.
      li <code>root</code> root directory for relative filenames.
      li <code>lastModified</code> enabled by default, sets the <code>Last-Modified</code> header to the last modified date of the file on the OS. Set <code>false</code> to disable it.
      li <code>headers</code> object of HTTP headers to serve with the file.
      li <code>dotfiles</code> option for serving dotfiles. Possible values are "allow", "deny", "ignore"; defaults to "ignore".

  p.
    The callback <code>fn(err)</code> is invoked when the transfer is complete or when an error occurs. If the callback function is specified and an error occurs, the response process must be handled explicitly within the callback function by either ending the request response cycle, or passing the control to the next route.

  p Here is an example of using <code>res.sendFile</code> with all its arguments.

  +js.

    app.get('/file/:name', function (req, res, next) {

      var options = {
        root: __dirname + '/public/',
        dotfiles: 'deny',
        headers: {
            'x-timestamp': Date.now(),
            'x-sent': true
        }
      };

      var fileName = req.params.name;
      res.sendFile(fileName, options, function (err) {
        if (err) {
          console.log(err);
          res.status(err.status).end();
        }
        else {
          console.log('Sent:', fileName);
        }
      });

    })

  p.
    <code>res.sendFile</code> provides fine-grained support for file serving
    as illustrated in the following example:

  +js.
    app.get('/user/:uid/photos/:file', function(req, res){
      var uid = req.params.uid
        , file = req.params.file;

      req.user.mayViewFilesFrom(uid, function(yes){
        if (yes) {
          res.sendFile('/uploads/' + uid + '/' + file);
        } else {
          res.status(403).send('Sorry! you cant see that.');
        }
      });
    });

  p.
    Please refer to <a href="https://github.com/visionmedia/send">send</a> for additional documentation or any issues and concerns.
