section
  h3(id='router') Router([options])
  include:md ./router-Router.md

h3(id='router.methods') Methods

section
  h3(id='router.all') router.all(path, [callback...], callback)
  include:md ./router-all.md

section
  h3(id='router.METHOD') router.METHOD(path, [callback...], callback)
  include:md ./router-METHOD.md

section
  h3(id='router.param') router.param([name], callback)
  include:md ./router-param.md

section
  h3(id='router.route') router.route(path)
  include:md ./router-route.md

section
  h3(id='router.use') router.use([path], [function...], function)
  include:md ./router-use.md
