@layer patterns {
  .card-list > * {
    grid-column: span var(--card-list-item-xs, 12);
    display: flex;
  }

  .card-list > * > .card {
    flex: 1;
    height: 100%;
  }

  .card-list > a,
  .card-list > a:visited,
  .card-list > a:hover,
  .card-list > a:active {
    color: inherit;
    text-decoration: none;
  }

  @media (--md-only) {
    .card-list > * {
      grid-column: span var(--card-list-item-md, var(--card-list-item-xs, 12));
    }
  }

  @media (--lg-up) {
    .card-list > * {
      grid-column: span
        var(--card-list-item-lg, var(--card-list-item-md, var(--card-list-item-xs, 12)));
    }
  }
}
