{%- assign authors = include.authors -%}
{% if authors %}
  <div class="blog-authors">
    By
    {% for author in authors %}

      {%- assign label = author.github | prepend: '@' -%}
      {%- if author.name -%}
        {%- assign label = author.name -%}
      {%- endif -%}

      {% if label and author.github %}
        <a href="https://github.com/{{author.github}}" rel="author">{{label}}</a>{% unless forloop.last %}, {% endunless %}
      {% elsif label %}
        {{label}}{% unless forloop.last %}, {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
