@layer primitives {
  .avatar {
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  .avatar__image {
    border-radius: var(--radius-full);
    border: var(--border-width-1) solid var(--color-border-primary);
    object-fit: cover;
    flex-shrink: 0;
  }

  .avatar--md .avatar__image {
    width: var(--size-8);
    height: var(--size-8);
  }

  .avatar--sm .avatar__image {
    width: var(--size-8);
    height: var(--size-8);
  }

  .avatar__content {
    display: flex;
    flex-direction: column;
  }
}
