/**
 * Footer Styles
*/

@layer patterns {
  .footer {
    background-color: var(--color-bg-secondary);
    padding: var(--space-4);
    text-align: center;
    font-size: var(--font-size-1);
    color: var(--color-text-secondary);
    margin-top: var(--space-8);

    @media (--md-up) {
      /* padding: var(--space-8) var(--space-6); */
    }
  }
}
