/**
 * Footer Styles
*/

@layer patterns {
  .footer {
    background-color: var(--color-bg-primary);
    text-align: center;
    color: var(--color-text-secondary);
    border-top: 1px solid var(--color-border-secondary);

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer__links {
    list-style: none;
    padding: 0;
    margin: var(--space-4) 0;

    li {
      display: inline;
      margin: 0 var(--space-2);
    }

    a {
      color: var(--color-text-secondary);
      font-size: var(--font-size-sm);
    }
  }

  .footer-top {
    padding: var(--space-6) 0;
  }

  .footer-bottom {
    background-color: var(--color-bg-secondary);
    padding: var(--space-6) 0;
  }

  .footer__logo {
    list-style: none;
    padding: 0;
    margin: 0;

    @media (--xs-only) {
      li {
        display: block;
        text-align: center;

        a {
          display: inline-block;
          padding: var(--space-4) 0;
        }
      }
    }

    @media (--md-up) {
      display: flex;
      align-items: center;
      gap: var(--space-8);
    }
  }

  .footer__socials {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-8);

    li {
      display: inline;
    }

    svg {
      color: var(--color-icon-primary);
    }

    svg path {
      fill: currentColor;
    }

    @media (--xs-only) {
      padding: var(--space-4) 0 var(--space-6);
    }

    @media (--md-up) {
      justify-content: right;
      gap: var(--space-10);
    }
  }

  .footer-logo-dark {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    .footer-logo-light {
      display: none;
    }

    .footer-logo-dark {
      display: block;
    }
  }

  [data-theme='dark'] .footer-logo-light {
    display: none;
  }

  [data-theme='dark'] .footer-logo-dark {
    display: block;
  }

  [data-theme='light'] .footer-logo-light {
    display: block;
  }

  [data-theme='light'] .footer-logo-dark {
    display: none;
  }
}
