---
import Layout from '@/layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import { Container, H1, H2, Body, Button, Flex } from '@components/primitives';
---

<Layout title="404 - Page Not Found" description="The page you are looking for could not be found.">
  <Container class="not-found">
    <div>
      <H1>404</H1>
      <H2>Page Not Found</H2>
      <Body color="secondary">
        The page you are looking for does not exist or has been moved.
      </Body>
      <Flex gap="4">
        <Button as="a" href="/en" variant="primary">Go to Home</Button>
        <Button
          as="a"
          href={'https://github.com/expressjs/expressjs.com/issues/new?template=4documentation.yml'}
        >
          <Icon name="fluent:warning-24-regular" size="20" />
          Raise a issue
        </Button>
      </Flex>
    </div>
  </Container>
</Layout>

<style>
  .not-found {
    margin-block-start: var(--space-24);
  }
</style>
