section
  h3(id='app.render') app.render(view, [options], callback)

  p.
    Render a <code>view</code> with a callback responding with
    the rendered string. This is the app-level variant of <code>res.render()</code>,
    and otherwise behaves the same way.

  +js.
    app.render('email', function(err, html){
      // ...
    });

    app.render('email', { name: 'Tobi' }, function(err, html){
      // ...
    });