section
  h3(id='app.enabled') app.enabled(name)

  p.
    Check if setting <code>name</code> is enabled.

  +js.
    app.enabled('trust proxy');
    // => false

    app.enable('trust proxy');
    app.enabled('trust proxy');
    // => true