section
  h3(id='express') express()
  
  p.
    Create an express application.

  +js.
    var express = require('express');
    var app = express();
    
    app.get('/', function(req, res){
      res.send('hello world');
    });
    
    app.listen(3000);
