section
  h3(id='res.charset') res.charset
  
  p.
    Assign the charset. Defaults to "utf-8".

  +js.
    res.charset = 'value';
    res.send('<p>some html</p>');
    // => Content-Type: text/html; charset=value
