section
  h3(id='res.sendfile') res.sendfile(path, [options], [fn]])

  p Transfer the file at the given <code>path</code>.
  
  p.
    Automatically defaults the Content-Type response header field based
    on the filename's extension. The callback <code>fn(err)</code> is 
    invoked when the transfer is complete or when an error occurs. 

  p Options:

  ul
    li <code>maxAge</code> in milliseconds defaulting to 0
    li <code>root</code> root directory for relative filenames

  p.
    This method provides fine-grained support for file serving
    as illustrated in the following example:

  +js.
    app.get('/user/:uid/photos/:file', function(req, res){
      var uid = req.params.uid
        , file = req.params.file;
    
      req.user.mayViewFilesFrom(uid, function(yes){
        if (yes) {
          res.sendfile('/uploads/' + uid + '/' + file);
        } else {
          res.send(403, 'Sorry! you cant see that.');
        }
      });
    });