doctype html
html
  head
    title Express basic routing tutorial
    include ../../includes/head
  body.inner
    .bar
    section.content
      header
        include ../../includes/mobile-menu
        include ../../includes/logo
        - active = 'starter'
        include ../../includes/menu
      include ../../includes/mixins
      #overlay

      include:md basic-routing.md

    include ../../includes/footer
