doctype html
html
  head
    title FAQ
    include ../../includes/head
  body.inner
    .bar
    section.content 
      header
        include ../../includes/logo
        - active = 'starter'
        include ../../includes/menu
      include ../../includes/mixins
      include:md faq.md 

    include ../../includes/footer
