doctype html
html
  head
    title Express Hello World Example
    include ../../includes/head
  body.inner
    .bar
    section.content
      header
        include ../../includes/mobile-menu
        include ../../includes/logo
        - active = 'starter'
        include ../../includes/menu
      include ../../includes/mixins
      include:md hello-world.md

    include ../../includes/footer
