doctype html
html
  head
    title Installing Express
    include ../../includes/head
  body.inner
    section.content
      header
        include ../../includes/logo
        - active = 'starter'
        include ../../includes/menu
      include ../../includes/mixins
      include:md installing.md

    include ../../includes/footer
