doctype html
html
  head
    title FAQ
    include ../includes/head
  body.inner
    section.content
      header
        - active = 'starter'
        include ../includes/header
      include ../includes/mixins
      #overlay

      h1 FAQ
      include:md faq.md

    include ../includes/footer
