doctype html
html
  head
    title Express application generator
    include ../includes/head
  body.inner
    section.content
      header
        - active = 'starter'
        include ../includes/header
      include ../includes/mixins
      #overlay

      include:md generator.md

    include ../includes/footer
