doctype html
html
  head
    title Express Hello World Example
    include ../includes/head
  body.inner
    section.content
        - active = 'starter'
        include ../includes/header
      include ../includes/mixins
      #overlay

      include:md hello-world.md

    include ../includes/footer
