@layer primitives {
  .list-grid > * {
    grid-column: span var(--list-grid-item-xs, 12);
  }

  .list-grid > a,
  .list-grid > a:visited,
  .list-grid > a:hover,
  .list-grid > a:active {
    color: inherit;
    text-decoration: none;
  }

  @media (--md-only) {
    .list-grid > * {
      grid-column: span var(--list-grid-item-md, var(--list-grid-item-xs, 12));
    }
  }

  @media (--lg-up) {
    .list-grid > * {
      grid-column: span
        var(--list-grid-item-lg, var(--list-grid-item-md, var(--list-grid-item-xs, 12)));
    }
  }
}
