---
/**
 * Theme Switcher Component
 * Allows users to toggle between light and dark themes
 * Persists theme preference to localStorage
 */
import './ThemeSwitcher.css';
import { BodyMd } from '@/components/primitives';
import { Icon } from 'astro-icon/components';
---

<button id="themeToggle" class="toggle" aria-label="Toggle theme">
  <div class="toggle-icon">
    <Icon
      name="fluent:weather-moon-28-regular"
      class="moon"
      size="18"
      color="var(--color-icon-primary)"
    />
    <Icon
      name="fluent:weather-sunny-20-regular"
      class="sun"
      size="18"
      color="var(--color-icon-primary)"
    />
  </div>
  <BodyMd vMargin={false} class="label-dark">Switch to light mode</BodyMd>
  <BodyMd vMargin={false} class="label-light">Switch to dark mode</BodyMd>
</button>

<script is:inline>
  const theme = (() => {
    const localStorageTheme = localStorage?.getItem('theme') ?? '';
    if (['dark', 'light'].includes(localStorageTheme)) {
      return localStorageTheme;
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.setAttribute('data-theme', 'light');
  } else {
    document.documentElement.setAttribute('data-theme', 'dark');
  }

  if (typeof localStorage !== 'undefined' && theme) {
    localStorage.setItem('theme', theme);
  }

  window.localStorage.setItem('theme', theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    console.log('element', element);

    const currentTheme = element.getAttribute('data-theme');
    localStorage.setItem('theme', currentTheme === 'dark' ? 'light' : 'dark');
    document.documentElement.setAttribute('data-theme', currentTheme === 'dark' ? 'light' : 'dark');
  };

  document.getElementById('themeToggle')?.addEventListener('click', handleToggleClick);
</script>
