---
import { Hero, Features, Banner } from '@components/patterns';
import { BodyMd, Card, Col } from '@components/primitives';
import Layout from '@layouts/Layout.astro';
import { languages } from '@i18n/locales';
import { getLangFromUrl, useTranslations } from '@i18n/utils';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
  <!-- TODO: Banner added for demo purposes, will be removed before release, or replaced with a new one -->
  <Banner
    variant="info"
    startDate="2026-03-01"
    endDate="2026-05-31"
    title="Express@5.1.0: Now the Default on npm with LTS Timeline"
  >
    <BodyMd vMargin={false}
      >Express 5.1.0 is now the default on npm, and we're introducing an official LTS schedule for
      the v4 and v5 release lines. <a href={`/${lang}/blog`}>Check out our latest blog</a> for more information.</BodyMd
    >
  </Banner>
  <Hero
    videoSrc="/videos/hero-background.webm"
    videoSrcLight="/videos/hero-background-light.webm"
    posterSrc="/hero-poster.webp"
    posterSrcLight="/hero-poster-light.webp"
  />
  <Features title={t('features.title')}>
    <Col xs={12} md={6} lg={6} class="features__card-col">
      <Card title={t('features.webapplication.title')} body={t('features.webapplication.body')} />
    </Col>
    <Col xs={12} md={6} lg={6} class="features__card-col">
      <Card title={t('features.api.title')} body={t('features.api.body')} />
    </Col>
    <Col xs={12} md={6} lg={6} class="features__card-col">
      <Card title={t('features.performance.title')} body={t('features.performance.body')} />
    </Col>
    <Col xs={12} md={6} lg={6} class="features__card-col">
      <Card title={t('features.middleware.title')} body={t('features.middleware.body')} />
    </Col>
  </Features>
</Layout>
