@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('open-sans-latin-ext-300-normal.woff2') format('woff2'),
       url('open-sans-latin-300-normal.woff2') format('woff2'),
       url('open-sans-latin-ext-300-normal.woff') format('woff'),
       url('open-sans-latin-300-normal.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('open-sans-latin-ext-300-italic.woff2') format('woff2'),
       url('open-sans-latin-300-italic.woff2') format('woff2'),
       url('open-sans-latin-ext-300-italic.woff') format('woff'),
       url('open-sans-latin-300-italic.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('open-sans-latin-ext-400-normal.woff2') format('woff2'),
       url('open-sans-latin-400-normal.woff2') format('woff2'),
       url('open-sans-latin-ext-400-normal.woff') format('woff'),
       url('open-sans-latin-400-normal.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('open-sans-latin-ext-400-italic.woff2') format('woff2'),
       url('open-sans-latin-400-italic.woff2') format('woff2'),
       url('open-sans-latin-ext-400-italic.woff') format('woff'),
       url('open-sans-latin-400-italic.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('open-sans-latin-ext-500-normal.woff2') format('woff2'),
       url('open-sans-latin-500-normal.woff2') format('woff2'),
       url('open-sans-latin-ext-500-normal.woff') format('woff'),
       url('open-sans-latin-500-normal.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  src: url('open-sans-latin-ext-500-italic.woff2') format('woff2'),
       url('open-sans-latin-500-italic.woff2') format('woff2'),
       url('open-sans-latin-ext-500-italic.woff') format('woff'),
       url('open-sans-latin-500-italic.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('open-sans-latin-ext-600-normal.woff2') format('woff2'),
       url('open-sans-latin-600-normal.woff2') format('woff2'),
       url('open-sans-latin-ext-600-normal.woff') format('woff'),
       url('open-sans-latin-600-normal.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('open-sans-latin-ext-600-italic.woff2') format('woff2'),
       url('open-sans-latin-600-italic.woff2') format('woff2'),
       url('open-sans-latin-ext-600-italic.woff') format('woff'),
       url('open-sans-latin-600-italic.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('open-sans-latin-ext-700-normal.woff2') format('woff2'),
       url('open-sans-latin-700-normal.woff2') format('woff2'),
       url('open-sans-latin-ext-700-normal.woff') format('woff'),
       url('open-sans-latin-700-normal.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('open-sans-latin-ext-700-italic.woff2') format('woff2'),
       url('open-sans-latin-700-italic.woff2') format('woff2'),
       url('open-sans-latin-ext-700-italic.woff') format('woff'),
       url('open-sans-latin-700-italic.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('open-sans-latin-ext-800-normal.woff2') format('woff2'),
       url('open-sans-latin-800-normal.woff2') format('woff2'),
       url('open-sans-latin-ext-800-normal.woff') format('woff'),
       url('open-sans-latin-800-normal.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('open-sans-latin-ext-800-italic.woff2') format('woff2'),
       url('open-sans-latin-800-italic.woff2') format('woff2'),
       url('open-sans-latin-ext-800-italic.woff') format('woff'),
       url('open-sans-latin-800-italic.woff') format('woff');
  font-display: swap;
}
