ul#menu
  li#app-api 
    a(href='#express') Application
    ul#app-menu
      li: a(href='#express') express()
      li: a(href='#app.set') app.set()
      li: a(href='#app.get') app.get()
      li: a(href='#app.enable') app.enable()
      li: a(href='#app.disable') app.disable()
      li: a(href='#app.enabled') app.enabled()
      li: a(href='#app.disabled') app.disabled()
      li: a(href='#app.configure') app.configure()
      li: a(href='#app.use') app.use()
      li: a(href='#app.engine') app.engine()
      li: a(href='#app.param') app.param()
      li: a(href='#app-settings') application settings
      li: a(href='#app.VERB') application routing
      li: a(href='#app.all') app.all()
      li: a(href='#app.locals') app.locals
      li: a(href='#app.render') app.render()
      li: a(href='#app.routes') app.routes
      li: a(href='#app.listen') app.listen()
  li#req-api 
    a(href='#req.params') Request
    ul#req-menu
      li: a(href='#req.params') req.params
      li: a(href='#req.query') req.query
      li: a(href='#req.body') req.body
      li: a(href='#req.files') req.files
      li: a(href='#req.param') req.param()
      li: a(href='#req.route') req.route
      li: a(href='#req.cookies') req.cookies
      li: a(href='#req.signedCookies') req.signedCookies
      li: a(href='#req.get') req.get()
      li: a(href='#req.accepts') req.accepts()
      li: a(href='#req.accepted') req.accepted
      li: a(href='#req.is') req.is()
      li: a(href='#req.ip') req.ip
      li: a(href='#req.ips') req.ips
      li: a(href='#req.path') req.path
      li: a(href='#req.host') req.host
      li: a(href='#req.fresh') req.fresh
      li: a(href='#req.stale') req.stale
      li: a(href='#req.xhr') req.xhr
      li: a(href='#req.protocol') req.protocol
      li: a(href='#req.secure') req.secure
      li: a(href='#req.subdomains') req.subdomains
      li: a(href='#req.originalUrl') req.originalUrl
      li: a(href='#req.acceptedLanguages') req.acceptedLanguages
      li: a(href='#req.acceptedCharsets') req.acceptedCharsets
      li: a(href='#req.acceptsCharset') req.acceptsCharset()
      li: a(href='#req.acceptsLanguage') req.acceptsLanguage()
  li#res-api 
    a(href='#res.status') Response
    ul#res-menu
      li: a(href='#res.status') res.status()
      li: a(href='#res.set') res.set()
      li: a(href='#res.get') res.get()
      li: a(href='#res.cookie') res.cookie()
      li: a(href='#res.clearCookie') res.clearCookie()
      li: a(href='#res.redirect') res.redirect()
      li: a(href='#res.location') res.location()
      li: a(href='#res.charset') res.charset
      li: a(href='#res.send') res.send()
      li: a(href='#res.json') res.json()
      li: a(href='#res.jsonp') res.jsonp()
      li: a(href='#res.type') res.type()
      li: a(href='#res.format') res.format()
      li: a(href='#res.attachment') res.attachment()
      li: a(href='#res.sendfile') res.sendfile()
      li: a(href='#res.download') res.download()
      li: a(href='#res.links') res.links()
      li: a(href='#res.locals') res.locals
      li: a(href='#res.render') res.render()
  li#middleware-api
    a(href='#middleware') Middleware
    ul#middleware-menu
      li: a(href='#basicAuth') basicAuth()
      li: a(href='#bodyParser') bodyParser()
      li: a(href='#compress') compress()
      li: a(href='#cookieParser') cookieParser()
      li: a(href='#cookieSession') cookieSession()
      li: a(href='#csrf') csrf()
      li: a(href='#directory') directory()
