section
  h3(id='basicAuth') basicAuth()

  p.
    Basic Authentication middleware, populating `req.user`
    with the username.

  p Simple username and password:

  +js.
    app.use(express.basicAuth('username', 'password'));

  p Callback verification:

  +js.
     app.use(express.basicAuth(function(user, pass){
       return 'tj' == user & 'wahoo' == pass;
     }));

  p.
    Async callback verification, accepting `fn(err, user)`,
    in this case `req.user` will be the `user` object passed.

  +js.
    app.use(connect.basicAuth(function(user, pass, fn){
      User.authenticate({ user: user, pass: pass }, fn);
    }))
