section
  h3(id='bodyParser') bodyParser()

  p.
    Request body parsing middleware supporting JSON, urlencoded,
    and multipart requests. This middleware is simply a wrapper
    the <code>json()</code>, <code>urlencoded()</code>, and
    <code>multipart()</code> middleware.

  +js.
    app.use(express.bodyParser());

    // is equivalent to:
    app.use(express.json());
    app.use(express.urlencoded());
    app.use(express.multipart());

  p.
    For security sake, it's better to disable file upload if your application
    doesn't need it. To do this, use only the needed middleware, i.e. don't use
    the <code>bodyParser</code> and <code>multipart()</code> middleware:

  +js.
    app.use(express.json());
    app.use(express.urlencoded());
