h2 Body parser
  p
      | Parse request bodies, supports
      em application/json
      | ,
      br
      em application/x-www-form-urlencoded
      | , and
      em multipart/form-data
      | .
    p This is equivalent to: 
    pre.
      
    h2 Examples
    pre.
      
    p
      | View
      a(href='json.html') json
      | ,
      a(href='urlencoded.html') urlencoded
      | , and
      a(href='multipart.html') multipart
      | for more info.
    ul.tags
      li
        em Object
        | options
      li
        | returns
        em Function
    h3 Source
    pre.
      
    ul#menu
      li
        a(href='#')
