section
  h3(id='req.query') req.query

  p.
    This property is an object containing the parsed query-string,
    defaulting to <code>{}</code>.

  +js.
    // GET /search?q=tobi+ferret
    req.query.q
    // => "tobi ferret"

    // GET /shoes?order=desc&shoe[color]=blue&shoe[type]=converse
    req.query.order
    // => "desc"

    req.query.shoe.color
    // => "blue"

    req.query.shoe.type
    // => "converse"
