section
  h3(id='req.fresh') req.fresh

  p.
    Check if the request is fresh - aka Last-Modified and/or the ETag still match,
    indicating that the resource is "fresh".

  +js.
    req.fresh
    // => true
