include ./res-status
include ./res-set
include ./res-get
include ./res-cookie
include ./res-clearCookie
include ./res-redirect
include ./res-location
include ./res-charset
include ./res-send
include ./res-json
include ./res-jsonp
include ./res-type
include ./res-format
include ./res-attachment
include ./res-sendfile
include ./res-download
include ./res-links
include ./res-locals
include ./res-render
