<header>
  <div id="mobile-menu">
      <div id="nav-button" class="fa fa-bars fa-2x button"></div>
  </div>
  <section id="logo"><a href="/" class="express">Express</a>
  </section>
  <div id="navbar">
      <input id="q" placeholder="🔎 search">
      <ul id="navmenu">
          <li><a href="/{{ page.lang }}/" id="home-menu"{% if page.menu == 'home' %} class="active"{% endif %}>ホーム</a></li>
          <li>
              <ul id="getting-started-menu" class="menu">
                  <li><a href="/{{ page.lang }}/starter/installing.html"{% if page.menu == 'starter' %} class="active"{% endif %}>概説</a>
                      <ul>
                          <li>
                            <a href="/{{ page.lang }}/starter/installing.html">
                              インストール
                            </a>
                          </li>
                          <li>
                            <a href="/{{ page.lang }}/starter/hello-world.html">
                              Hello World
                            </a>
                          </li>
                          <li>
                          <a href="/{{ page.lang }}/starter/generator.html">
                            Express ジェネレーター
                          </a>
                          </li>
                          <li>
                            <a href="/{{ page.lang }}/starter/basic-routing.html">
                              基本的なルーティング
                            </a>
                          </li>
                          <li>
                            <a href="/{{ page.lang }}/starter/static-files.html">
                              静的ファイル
                            </a>
                          </li>
                          <li>
                            <a href="/{{ page.lang }}/starter/faq.html">
                              FAQ
                            </a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <ul id="guide-menu" class="menu">
                  <li><a href="/{{ page.lang }}/guide/routing.html"{% if page.menu == 'guide' %} class="active"{% endif %}>ガイド</a>
                      <ul>
                          <li><a href="/{{ page.lang }}/guide/routing.html">ルーティング</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/writing-middleware.html">ミドルウェアの作成</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/using-middleware.html">ミドルウェアの使用</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/using-template-engines.html">テンプレート・エンジンの使用</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/error-handling.html">エラー処理</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/debugging.html">デバッグ</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/behind-proxies.html">プロキシーの背後の Express</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/migrating-4.html">Express 4 への移行</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/migrating-5.html">Express 5 への移行</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/database-integration.html">データベースの統合</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <ul id="application-menu" class="menu">
                  <li><a href="/{{ page.lang }}/4x/api.html"{% if page.menu == 'api' %} class="active"{% endif %}>API リファレンス</a>
                      <ul>
                          <li><a href="/{{ page.lang }}/5x/api.html">5.x</a>
                          </li>
                          <li><a href="/{{ page.lang }}/4x/api.html">4.x</a>
                          </li>
                          <li><a href="/{{ page.lang }}/3x/api.html">3.x (非推奨)</a>
                          </li>
                          <li><a href="/2x/">2.x (非推奨)</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <ul id="advanced-topics-menu" class="menu">
                  <li><a href="/{{ page.lang }}/advanced/developing-template-engines.html"{% if page.menu == 'advanced' %} class="active"{% endif %}>高度なトピック</a>
                      <ul>
                          <li><a href="/{{ page.lang }}/advanced/developing-template-engines.html">テンプレート・エンジン</a>
                          </li>
                          <li><a href="/{{ page.lang }}/advanced/security-updates.html">セキュリティー更新</a>
                          </li>
                          <li><a href="/{{ page.lang }}/advanced/best-practice-security.html">セキュリティーに関するベスト・プラクティス</a>
                          </li>
                          <li><a href="/{{ page.lang }}/advanced/best-practice-performance.html">パフォーマンスに関するベスト・プラクティス</a>
                          </li>

                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <ul id="resources-menu" class="menu">
                  <li><a href="/{{ page.lang }}/resources/glossary.html"{% if page.menu == 'resources' %} class="active"{% endif %}>リソース</a>
                      <ul>
                          <li><a href="/{{ page.lang }}/resources/glossary.html">用語集</a>
                          </li>
                          <li><a href="/{{ page.lang }}/resources/middleware.html">ミドルウェア</a>
                          </li>
                          <li><a href="/{{ page.lang }}/resources/community.html">コミュニティー</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li><a href="/en/support" id="support-menu"{% if page.menu == 'support' %} class="active"{% endif %}>Support</a></li>
          <li>
              <ul id="blog-menu" class="menu">
                  <li><a href="{{site.posts.first.url}}"{% if page.menu == 'blog' %} class="active"{% endif %}>Blog</a>
                      <ul>
                          <li>
                            <a href="{{site.posts.first.url}}">Latest post</a> 
                          </li>
                          <li>
                            <a href="/en/blog/posts.html">All posts</a> 
                          </li>                          
                          <li>
                            <a href="/en/blog/write-post.html">Write a Post</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
      <div id="theme-icon-container" class="theme-toggle default-theme" title="toggle darkmode">
        <i class="fa fa-moon-o fa-2x hidden-dark"></i>
        <span class="sun-icon hidden-light"></span>
      </div> 
  </div>
</header>
