<header>
  <div id="mobile-menu">
      <div id="nav-button" class="fa fa-bars fa-2x button"></div>
  </div>
  <section id="logo"><a href="/" class="express">Express</a>
  </section>
  <div id="navbar">
      <ul id="navmenu">
          <li><a href="{% if page.lang == 'en' %}/{% else %}/{{ page.lang }}/{% endif %}" id="home-menu"{% if page.menu == 'home' %} class="active"{% endif %}>Home</a></li>
          <li>
              <ul id="getting-started-menu" class="menu">
                  <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/starter/installing.html"{% if page.menu == 'starter' %} class="active"{% endif %}>Empezar</a>
                      <ul>
                          <li>
                            <a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/starter/installing.html">
                              Instalación
                            </a>
                          </li>
                          <li>
                          <a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/starter/generator.html">
                            Generador Express 
                          </a>
                          </li>
                          <li>
                            <a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/starter/hello-world.html">
                              Hola Mundo
                            </a>
                          </li>
                          <li>
                            <a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/starter/basic-routing.html">
                              Enrutamiento Básico
                            </a>
                          </li>
                          <li>
                            <a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/starter/static-files.html">
                              Archivos Estáticos
                            </a>
                          </li>
                          <li>
                            <a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/starter/faq.html">
                              FAQ
                            </a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <ul id="guide-menu" class="menu">
                  <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/guide/routing.html"{% if page.menu == 'guide' %} class="active"{% endif %}>Guía</a>
                      <ul>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/guide/routing.html">Enrutamiento</a>
                          </li>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/guide/using-middleware.html">Usar Middleware</a>
                          </li>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/guide/using-template-engines.html">Usar Motores de plantillas</a>
                          </li>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/guide/error-handling.html">Manejo de Errores</a>
                          </li>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/guide/debugging.html">Depuración</a>
                          </li>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/guide/behind-proxies.html">Express detrás de proxies</a>
                          </li>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/guide/migrating-4.html">Mover a Express 4</a>
                          </li>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/guide/database-integration.html">Integrar bases de datos</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <ul id="application-menu" class="menu">
                  <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/4x/api.html"{% if page.menu == 'api' %} class="active"{% endif %}>Referencia de API</a>
                      <ul>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/4x/api.html">4.x</a>
                          </li>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/3x/api.html">3.x</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <ul id="advanced-topics-menu" class="menu">
                  <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/advanced/developing-template-engines.html"{% if page.menu == 'advanced' %} class="active"{% endif %}>Temas Avanzados</a>
                      <ul>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/advanced/developing-template-engines.html">Motores de plantilla</a>
                          </li>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/advanced/security-updates.html">Actualizaciones de Seguridad</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <ul id="resources-menu" class="menu">
                  <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/resources/glossary.html"{% if page.menu == 'resources' %} class="active"{% endif %}>Recursos</a>
                      <ul>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/resources/glossary.html">Glosario</a>
                          </li>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/resources/middleware.html">Middleware</a>
                          </li>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/resources/community.html">Comunidad</a>
                          </li>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/resources/books-blogs.html">Libros y blogs</a>
                          </li>
                          <li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/resources/applications.html">Aplicaciones</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
  </div><a href="http://strongloop.com/node-js/training/" title="Node and Express Training from StrongLoop" id="strongloop-header">Express and Node.js Training from StrongLoop</a>
</header>