<header>
  <div id="blm-banner">
    Black Lives Matter. <br>
    <a id="blm-donate"  href="https://support.eji.org/give/153413/#!/donation/checkout">Support the Equal Justice Initiative</a>.
  </div>
  <div id="mobile-menu">
      <div id="nav-button" class="fa fa-bars fa-2x button"></div>
  </div>
  <section id="logo"><a href="/" class="express">Express</a>
  </section>
  <div id="navbar">
      <input id="q" placeholder="🔎 search">
      <ul id="navmenu">
          <li><a href="/{{ page.lang }}/" id="home-menu"{% if page.menu == 'home' %} class="active"{% endif %}>홈</a></li>
          <li>
              <ul id="getting-started-menu" class="menu">
                  <li><a href="/{{ page.lang }}/starter/installing.html"{% if page.menu == 'starter' %} class="active"{% endif %}>시작하기</a>
                      <ul>
                          <li>
                            <a href="/{{ page.lang }}/starter/installing.html">
                              설치
                            </a>
                          </li>
                          <li>
                            <a href="/{{ page.lang }}/starter/hello-world.html">
                              Hello world
                            </a>
                          </li>
                          <li>
                          <a href="/{{ page.lang }}/starter/generator.html">
                            Express 생성기
                          </a>
                          </li>
                          <li>
                            <a href="/{{ page.lang }}/starter/basic-routing.html">
                              기본 라우팅
                            </a>
                          </li>
                          <li>
                            <a href="/{{ page.lang }}/starter/static-files.html">
                              정적 파일
                            </a>
                          </li>
                          <li>
                            <a href="/{{ page.lang }}/starter/faq.html">
                              자주 묻는 질문(FAQ)
                            </a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <ul id="guide-menu" class="menu">
                  <li><a href="/{{ page.lang }}/guide/routing.html"{% if page.menu == 'guide' %} class="active"{% endif %}>안내서</a>
                      <ul>
                          <li><a href="/{{ page.lang }}/guide/routing.html">라우팅</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/writing-middleware.html">미들웨어 작성</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/using-middleware.html">미들웨어 사용</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/using-template-engines.html">템플리트 엔진 사용</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/error-handling.html">오류 처리</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/debugging.html">디버깅</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/behind-proxies.html">프록시 환경에서 Express 사용</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/migrating-4.html">Express 4로의 이전</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/migrating-5.html">Express 5로의 이전</a>
                          </li>
                          <li><a href="/{{ page.lang }}/guide/database-integration.html">데이터베이스 통합</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <ul id="application-menu" class="menu">
                  <li><a href="/{{ page.lang }}/4x/api.html"{% if page.menu == 'api' %} class="active"{% endif %}>API 참조</a>
                      <ul>
                          <li><a href="/{{ page.lang }}/4x/api.html">4.x</a>
                          </li>
                          <li><a href="/{{ page.lang }}/3x/api.html">3.x(더 이상 사용되지 않음)</a>
                          </li>
                          <li><a href="/2x/">2.x(더 이상 사용되지 않음)</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <ul id="advanced-topics-menu" class="menu">
                  <li><a href="/{{ page.lang }}/advanced/developing-template-engines.html"{% if page.menu == 'advanced' %} class="active"{% endif %}>고급 주제</a>
                      <ul>
                          <li><a href="/{{ page.lang }}/advanced/developing-template-engines.html">템플리트 엔진</a>
                          </li>
                          <li><a href="/{{ page.lang }}/advanced/pm.html">프로세스 관리자 사용</a>
                          </li>
                          <li><a href="/{{ page.lang }}/advanced/security-updates.html">보안 업데이트</a>
                          </li>
                          <li><a href="/{{ page.lang }}/advanced/best-practice-security.html">보안 우수 사례</a>
                          </li>
                          <li><a href="/{{ page.lang }}/advanced/best-practice-performance.html">성능 우수 사례</a>
                          </li>

                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <ul id="resources-menu" class="menu">
                  <li><a href="/{{ page.lang }}/resources/glossary.html"{% if page.menu == 'resources' %} class="active"{% endif %}>자원</a>
                      <ul>
                          <li><a href="/{{ page.lang }}/resources/glossary.html">용어집</a>
                          </li>
                          <li><a href="/{{ page.lang }}/resources/middleware.html">미들웨어</a>
                          </li>
                          <li><a href="/{{ page.lang }}/resources/community.html">커뮤니티</a>
                          </li>
                          <li><a href="/{{ page.lang }}/resources/learning.html">추가 학습</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
  </div><!--<a href="http://strongloop.com/node-js/training/" title="StrongLoop의 Node 및 Express 교육" id="strongloop-header">StrongLoop의 Express 및 Node.js 교육</a>-->
</header>
