doctype html
html
  head
    title Express database integration
    include ../includes/head
  body.inner
    section.content
      header
        - active = 'guide'
        include ../includes/header
      include ../includes/mixins
      #overlay

      include:md database-integration.md

    include ../includes/footer
