doctype html
html
  head
    title Debugging Express
    include ../includes/head
  body.inner
    section.content
      header
        include ../includes/mobile-menu
        include ../includes/logo
        - active = 'guide'
        include ../includes/menu
      include ../includes/mixins
      #overlay

      include:md debugging.md

    include ../includes/footer
