doctype html
html
  head
    title Express routing
    include ../includes/head
  body
    section.content
      header
        - active = 'guide'
        include ../includes/header
      include ../includes/mixins
      #overlay

      include:md routing.md

    include ../includes/footer
