
ul
  +logo('learnboost')
  +logo('storify')
  +logo('geeklist')
  +logo('klout')
  +logo('koding')
  +logo('clipboard')
  +logo('mcdonalds')
  +logo('mozilla')
  +logo('ebay')
  //+logo('nerve')
  +logo('uber')
  +logo('starbucks')
  +logo('yahoo')
  //+logo('canadian-tire')
  //+logo('doodle-or-die')
