noscript
  iframe(src='//www.googletagmanager.com/ns.html?id=GTM-5XL76H', height='0', width='0', style='display: none; visibility: hidden;')
script.
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5XL76H');

a#top(href='#')
  img(src='/images/arrow.png')

footer
  #footer-content
    © 2012 TJ Holowaychuk. All rights reserved.

