include mobile-menu
include logo
include menu

a(href='http://strongloop.com/node-js/training/', title='Node and Express Training from StrongLoop')#strongloop-header Express and Node.js Training from StrongLoop
