link(rel='stylesheet', href='style.css')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext')
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js')
script(src='app.js')
script(src='retina.js')
