#boxes.clearfix
  section#web-applications
    h3 Web Applications
    p.
      Express is a minimal and flexible node.js web application framework, providing
      a robust set of features for building single and multi-page, and hybrid web applications.

  section#apis
    h3 APIs
    p.
      With a myriad of HTTP utility methods and Connect middleware at your
      disposal, creating a robust user-friendly API is quick and easy.

  section#performance
    h3 Performance
    p.
      Express provides a thin layer of features fundamental
      to any web application, without obscuring features
      that you know and love in node.js
  
  section#book
    h3 Get the book!
    p.
      Check out the Manning <a href="http://www.manning.com/cantelon/">Node.js in Action</a>
      book with in-depth Connect and Express coverage, testing, databases, conventions and much more!
    
    a(href='http://www.manning.com/cantelon/')
      img(src='images/book.jpg', title='expressjs node book')