#boxes.clearfix
  section#web-applications
    h3 Web Applications
    p.
      Express is a minimal and flexible node.js web application framework, providing
      a robust set of features for building single and multi-page, and hybrid web applications.

  section#apis
    h3 APIs
    p.
      With a myriad of HTTP utility methods and Connect middleware at your
      disposal, creating a robust user-friendly API is quick and easy.

  section#performance
    h3 Performance
    p.
      Express provides a thin layer of features fundamental
      to any web application, without obscuring features
      that you know and love in node.js

  section#community
    h3 Community
    p.
      Express has a vibrant community of over 120 users in the #express channel on freenode,
      1800+ subscribed to the <a href="https://groups.google.com/group/express-js">mailing list</a>, and over
      7000 watchers on <a href="http://github.com/visionmedia/express">GitHub</a>.
