
include mixins

nav.clearfix
  +item('/') Home
  +item('/4x/api.html') API Reference
  +item('/guide.html') Guide
  +item('/migrating-4.html') Moving to 4.x  
  +item('/applications.html') Applications
  +item('/community.html') Community
  +item('/faq.html') FAQ
  +item('/3x/api.html') 3.x docs
