
include mixins

nav.clearfix
  +item('/') Home
  +item('/api.html') API Reference
  +item('/guide.html') Guide
  +item('/applications.html') Applications
  +item('/community.html') Community
  +item('/faq.html') FAQ

