
include mixins

nav.clearfix

  ul#navmenu
    li
      +item('/') Home

    li
      ul#application-menu.menu
        li
          a(href='#') API Reference
          ul
            li
              a(href='/4x/api.html') 4.x
            li
              a(href='/3x/api.html') 3.x

    li
      ul#getting-started-menu.menu
        li
          a(href='#') Getting started 
          ul
            li
              a(href='#') Installing
            li
              a(href='#') Express generator
            li
              a(href='#') Hello World 
            li
              a(href='#') Basic routing tutorial
            li
              a(href='#') FAQ

    li
      ul#guide-menu.menu
        li
          a(href='#') Express Developer's Guide 
          ul
            li
              a(href='#') Routing
            li
              a(href='#') Error handling
            li
              a(href='#') Debugging Express
            li
              a(href='#') Express behind proxies
            li
              a(href='#') Moving to Express 4
            li
              a(href='#') Using components 
            li
              a(href='#') Database Integration

    li
      ul#advanced-topics-menu.menu
        li
          a(href='#') Advanced Topics 
          ul
            li
              a(href='#') Express components
            li
              a(href='#') Template engines

    li
      ul#resources-menu.menu
        li
          a(href='#') Resources
          ul
            li
              a(href='#') Glossary
            li
              a(href='#') Applications
            li
              a(href='#') Community
            li
              a(href='#') Books

  //- +item('/4x/api.html#application') API Reference
  //- +item('/guide.html') Guide
  //- +item('/migrating-4.html#overview') Moving to 4.x  
  //- +item('/applications.html#myspace') Applications
  //- +item('/community.html') Community
  //- +item('/faq.html') FAQ
  //- +item('/3x/api.html') 3.x docs


