#mobile-menu
  a(href='https://github.com/strongloop/express?_ga=1.39756451.1408343404.1407943788', title='Fork me on GitHub')#fork-button
    .fa.fa-code-fork.fa-2x
  #nav-button.fa.fa-bars.fa-2x.button
