<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body>

    <section class="content">

      {% include header/header-{{ page.lang }}.html %}

      {% include api/{{ page.lang }}/4x/menu.md %}

      <div id="overlay"></div>

      {% if page.lang != 'en' %}
        <div id="i18n-notice-box" class="doc-box doc-warn">
          {% include i18n-notice.html %}
        </div>
      {% endif %}
    
      {{ content }}

    </section>

    {% include footer/footer-{{ page.lang }}.html %}

  </body>

</html>
