<!DOCTYPE html>
<html class="light-mode" lang="{{ page.lang }}">

  {% include head.html %}

  {% if page.lang == 'en' %}
  <body class="en-doc">
  {% else %}
  <body class="non-en-doc">
  {% endif %}

    {% include header.html %}

    <div id="overlay"></div>

    {% if page.lang != 'en' %}
         <div id="i18n-notice-box" class="doc-notice">
            {% include i18n-notice.html %}
        </div>
    {% endif %}

    <main class="home">
      {{ content }}
    </main>

    {% include footer.html %}
  </body>

</html>
