<!DOCTYPE html>
{% if page.lang %}
<html lang="{{ page.lang }}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  {% if page.lang == 'en' %}
  <body class="en-doc">
  {% else %}
  <body class="non-en-doc">
  {% endif %}

    <section class="page content">

      {% include header.html %}

      <div id="overlay"></div>

      {% if page.lang != 'en' %}
        <div id="i18n-notice-box" class="doc-box doc-notice">
          {% include i18n-notice.html %}
        </div>
      {% endif %}
      <div id="page-doc" markdown="1">
        {{ content }}
      </div>

      <a role="button" class="edit-github-btn" href="{{ site.github.repository_url }}/edit/gh-pages/{{ page.path }}" aria-label="Go to the page on GitHub">
        <span class="hidden-dark">
          {% include icons/github-light.svg %}
        </span>
        <span class="hidden-light">
          {% include icons/github-dark.svg %}
        </span>
        Edit this page</a>
    </section>

    {% include footer.html %}

  </body>

</html>
{% endif %}
