<!DOCTYPE html>
{% if page.lang %}
<html lang="{{ page.lang }}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  {% if page.lang == 'en' %}
  <body class="en-doc">
  {% else %}
  <body class="non-en-doc">
  {% endif %}

  {% include header.html %}

  <div id="overlay"></div>

  {% if page.lang != 'en' %}
       <div id="i18n-notice-box" class="doc-box doc-notice">
          {% include i18n-notice.html %}
      </div>
  {% endif %}

  {% if page.layout == 'middleware' %}
    <div class="content flex-row-content">
      {{ content }}
    </div>
  {% else %}
    <div class="content">
      <main>
        {{ content }}
        {% include github-edit-btn.html %}
      </main>
    </div>
  {% endif %}

  {% include footer.html %}

  </body>

</html>
{% endif %}
