<!DOCTYPE html>
<html lang="{{ page.lang }}">
  {% include head.html %}
  
  <body>
    {% include header.html %}
    <div id="overlay"></div>
    
    <section class="content">
      <div class="toc-container">
        {% include blog/posts-menu.md %}
      </div>
      <div id="blog-doc" markdown="1">
          {% if page.title %}
          <h1>{{page.title}}</h1>
          {% endif %} 
          {% if page.sub_title %}
          <h2>{{page.sub_title}}</h2>
          {% endif %}
          <div class="blog-details">
            {% if page.author %}
            <div class="blog-author">By {{page.author}}</div>
            {% endif %}
            <div class="blog-date">{{page.date| date: "%d %b %Y" }}</div>
          </div>
        {{ content }}
      </div>
    </section>

    {% include footer.html %}

  </body>

</html>
