@layer patterns {
  .post-card {
    display: flex;
    flex-direction: column;
    margin: var(--space-6) 0;
    border: var(--border-width-1) solid var(--color-border-secondary);
    border-radius: var(--radius-base);
    gap: var(--space-4);
  }

  .post-card--lg {
    padding: var(--space-10);
  }

  .post-card--md {
    padding: var(--space-3);
  }

  .post-card__link {
    display: flex;
    flex-direction: column;
    gap: inherit;
    color: inherit;
    text-decoration: none;
  }
}
